{% extends "base.html" %}

{% block navbar %}
	{% load i18n %}
	{% load static %}
	<div class="navbar">
		<a class="navlogo" href="/{{ base_language }}/{{ base_flag }}#PRESENTATION"><i class="fa fa-home" ></i></a>
		<a class="navlogo" href="/{{ base_language }}/{{ base_flag }}/about"><i class="fa fa-question-circle-o" ></i><p class="navtext"></p></a>
		<a class="anav" href="/{{ base_language }}/{{ base_flag }}/documents"><i class="fa fa-print" ></i></a>
		<a class="anav" href="/{{ base_language }}/{{ base_flag }}/support"><i class="fa fa-heart" ></i></a>
		<a class="anav" href="/{{ base_language }}/{{ base_flag }}/samu"><i class="fa fa-ambulance " ></i></a>
	</div>
{% endblock %}

{% block flags %}
	<div id="flagcontainer" onclick="switchVisibilityBlock('changebase')">
		<img id="sourceflag" src="{% get_static_prefix %}translation/flags/{{ base_flag }}.png">
	</div>
{% endblock %}

{% block changebase %}
	{% load i18n %}
	{% load static %}
	{% include "changebase.html" with changebase="" %}
{% endblock %}

{% block section %}
	{% load i18n %}
	{% load static %}
	<section class="about">
		<div id="aboutheader"><i class="fa fa-globe"></i><h1 style="margin-left: 5px">Tralelho - Traduction pour les étrangers à l'hôpital</h1></div>
		<article>
			<div class="artsection">
				<img src="{% get_static_prefix %}/translation/Photos/national-cancer-institute-bM4MXYPY61U-unsplash.jpg" alt="Patient being examined"> 
				<p>
					Dans les hôpitaux, l’accueil de personnes étrangères n’est pas toujours simple. Comment demander en effet à un patient ne parlant pas le français d’expliquer ses douleurs ou ses antécédents médicaux ? Un casse-tête linguistique auquel tous les personnels médicaux ont un jour été confrontés. Pour permettre le dialogue avec les patients, Marion Verdaguer, infirmière de nuit au CHU de Rennes, a eu l’idée du site Tralelho afin de traduire des questions médicales types dans plus de 200 langues.
				</p>
			</div>
		</article>
		
		
		<h1><u>Soutenir TraLELHo</u></h1>
		<article>
			<h2>Traduction</h2>
			<p>Soutenir TraLELHo c'est d'abord l'utiliser, le diffuser auprès de vos collègues, amis.</p>
			<p>C'est aussi nous <a href="mailto:info@tralelho.fr">contacter</a> si vous parlez une langue étrangère pour nous proposer une correction ou une nouvelle traduction.</p>
			<p>Vous pouvez utiliser notre service <a href="https://tralelho.crowdin.com/TranslatorAccess">Crowdin</a> pour traduire des phrases dans le langue de votre choix</p>
		</article>
		<article>
			<h2>Faire un Don</h2>
			<p>Enfin soutenir TraLELHo peut aussi passer par un don, afin d'aider le site à rester héberger aussi longtemps que possible, ou a obtenir de nouvelles traductions ou corrections.</p>
			<p>Avec 4 euros vous permettez au site d'être hébergé un mois de plus, avec 50 euros vous permettez de traduire une nouvelle langue.</p>
			<a id="don" href="https://www.paypal.me/OuiCare">
				<img src="{% get_static_prefix %}/translation/don.JPEG">
			</a>
		</article>
	
		
		
		
		
		
		<article>
			<div class="artsection">
				<div>
					<h3>Dans les medias</h3>
					<ul>
						<li><a href="https://www.leparisien.fr/societe/sante/les-questions-medicales-traduites-dans-toutes-les-langues-avec-tralelho-02-11-2018-7933467.php">Le Parisien</a></li>
						<li><a href="https://le-quotidien-du-patient.fr/article/tous-pour-un/2019/01/21/tralelho/">Le quotidien du patient</a></li>
						<li><a href="https://france3-regions.francetvinfo.fr/bretagne/ille-et-vilaine/rennes/rennes-infirmiere-urgences-concoit-tralelho-briser-barriere-langue-1606739.html">France 3</a></li>
						<li><a href="https://www.20minutes.fr/sante/2271679-20180516-rennes-chu-langues-etrangeres-plus-secrets-personnel-medical">20 minutes</a></li>
						<li><a href="https://www.ouest-france.fr/bretagne/rennes-35000/video-grace-marion-sait-parler-138-langues-aux-urgences-du-chu-de-rennes-6179604">Ouest France</a></li>
						<li><a href="https://www.francebleu.fr/infos/societe/rennes-tralelho-permets-de-traduire-50-questions-medicales-en-195-langues-1523178137">France Bleu</a></li>
{% comment %} 						<li><a href=""></a></li>
						<li><a href=""></a></li>
						<li><a href=""></a></li> {% endcomment %}
					</ul>
				</div>
				<img src="{% get_static_prefix %}/translation/Photos/sharon-mccutcheon-BrECcnO7hsg-unsplash.jpg" alt="Patient being examined"> 
			</div>
		</article>
{% endblock %}
