{% extends "base.html" %}

{% block navbar %}
	{% load i18n %}
	{% load static %}
	<div class="navbar">
		<a class="navlogo" href="/{{ base_language }}/{{ base_flag }}#PRESENTATION"><i class="fa fa-home" ></i></a>
		<a class="navlogo" href="/{{ base_language }}/{{ base_flag }}/about"><i class="fa fa-question-circle-o" ></i><p class="navtext"></p></a>
		<a class="anav" href="/{{ base_language }}/{{ base_flag }}/documents"><i class="fa fa-print" ></i></a>
		<a class="anav" href="/{{ base_language }}/{{ base_flag }}/support"><i class="stethocope" ></i></a>
		<a class="navlogo" href="/{{ base_language }}/{{ base_flag }}/patient"><i class="fa fa-ambulance " ></i></a>
	</div>
{% endblock %}

{% block flags %}
	<div id="flagcontainer" onclick="switchVisibilityBlock('changebase')">
		<img id="sourceflag" src="{% get_static_prefix %}translation/flags/{{ base_flag }}.png">
	</div>
{% endblock %}

{% block changebase %}
	{% load i18n %}
	{% load static %}
	{% include "changebase.html" with changebase="" %}
{% endblock %}

{% block section %}
	{% load i18n %}
	{% load static %}
	<div style="padding-top: 70px"></div>
    <h2>Responsabilité</h2>
    <p>Les sources des informations diffusées sur le site http://www.tralelho.fr sont réputées fiables mais le site ne garantit pas qu’il soit exempt de défauts, d’erreurs ou d’omissions.
    Les informations communiquées sont présentées à titre indicatif et général sans valeur contractuelle. Malgré des mises à jour régulières, le site http://www.tralelho.fr ne peut être tenu responsable de la modification des dispositions administratives et juridiques survenant après la publication. De même, le site ne peut être tenue responsable de l’utilisation et de l’interprétation de l’information contenue dans ce site.
    Le site http://www.tralelho.fr ne peut être tenu pour responsable d’éventuels virus qui pourraient infecter l’ordinateur ou tout matériel informatique de l’Internaute, suite à une utilisation, à l’accès, ou au téléchargement provenant de ce site.
    La responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d'un tiers.</p>

    <h2>Liens hypertextes</h2>
    <p>Des liens hypertextes peuvent être présents sur le site. L’Utilisateur est informé qu’en cliquant sur ces liens, il sortira du site http://www.tralelho.fr. Ce dernier n’a pas de contrôle sur les pages web sur lesquelles aboutissent ces liens et ne saurait, en aucun cas, être responsable de leur contenu.</p>

    <h2>Cookies</h2>
    <p>L’Utilisateur est informé que lors de ses visites sur le site, un cookie peut s’installer automatiquement sur son logiciel de navigation.
    Les cookies sont de petits fichiers stockés temporairement sur le disque dur de l’ordinateur de l’Utilisateur par votre navigateur et qui sont nécessaires à l’utilisation du site http://www.tralelho.fr. Les cookies ne contiennent pas d’information personnelle et ne peuvent pas être utilisés pour identifier quelqu’un. Un cookie contient un identifiant unique, généré aléatoirement et donc anonyme. Certains cookies expirent à la fin de la visite de l’Utilisateur, d’autres restent.
    L’information contenue dans les cookies est utilisée pour améliorer le site http://www.tralelho.fr.
    En naviguant sur le site, L’Utilisateur les accepte.
    L’Utilisateur doit toutefois donner son consentement quant à l’utilisation de certains cookies.
    A défaut d’acceptation, l’Utilisateur est informé que certaines fonctionnalités ou pages risquent de lui être refusées.
    L’Utilisateur pourra désactiver ces cookies par l’intermédiaire des paramètres figurant au sein de son logiciel de navigation.</p>

	<h2>Attribution</h2>
	<h3>Icons</h3>
	<p>Icon made by [author link] from www.freeicons.io </p>
	<p>hindi by Jonathan Coutiño from the Noun Project</p>
	<p>id by Adrien Coquet from the Noun Project</p>
	<p>Time by ignation from the Noun Project</p>
	<p>Enter by Mutualism from the Noun Project</p>
	<p>Brain by Creative Stall from the Noun Project</p>
	<p>Lungs by rizky ramadhan from the Noun Project</p>
	<p>heartbeat by Vectors Point from the Noun Project</p>
	<p>dizziness by Chanut is Industries from the Noun Project</p>
	<p>gastroenterologist by VM from the Noun Project</p>
	<p>Bacteria by Adrien Coquet from the Noun Project</p>
	<p>Eye by Pagi from the Noun Project</p>
	<p>Medical Folder by Laymik from the Noun Project</p>
	<p>Baby by Vectorstall from the Noun Project</p>
	<p>Female by Chanut is Industries from the Noun Project</p>
	<p>Bone by Vectorstall from the Noun Project</p>
	<p>Radiology by Minh Do from the Noun Project</p>
	<p>Medicine book by mambu from the Noun Project</p>
	<p>conclusion by Adrien Coquet from the Noun Project</p>
	<p>report by Pauel Tepikin from the Noun Project</p>
	<h3>Photos</h3>
	<p>Photo by <a href="https://unsplash.com/@nci?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">National Cancer Institute</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
  <p>Photo by <a href="https://unsplash.com/@sharonmccutcheon?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Sharon McCutcheon</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
{% endblock %}
