{% extends "base.html" %}

{% block navbar %}
	{% load i18n %}
	{% load static %}
	<div class="navbar">
		<a class="navlogo" href="/{{ base_language }}/{{ base_flag }}"><i class="fa fa-globe" ></i><p class="navtext">Tralelho</p></a>	
		<a class="anav" href="/{{ base_language }}/{{ base_flag }}"><i class="fa fa-language" ></i></a>
		<a class="anav" id="active" href="/{{ base_language }}/{{ base_flag }}/documents"><i class="fa fa-file" ></i></a>
		<a class="anav" href="/{{ base_language }}/{{ base_flag }}/support"><i class="fa fa-heart" ></i></a>
		<a class="anav" href="/{{ base_language }}/{{ base_flag }}/about"><i class="fa fa-info-circle " ></i></a>
	</div>
{% endblock %}

{% block flags %}
	<div id="flagcontainer" onclick="switchVisibilityBlock('changebase')">
		<img id="sourceflag" src="{% get_static_prefix %}translation/flags/{{ base_flag }}.png">
	</div>
{% endblock %}

{% block changebase %}
	{% load i18n %}
	{% load static %}
	{% include "changebase.html" with changebase="/documents" %}
{% endblock %}

{% block section %}
	{% load i18n %}
	{% load static %}
	{% include "changetarget.html" with changetarget="/documents" %}
{% endblock %}