{% extends "base.html" %}

{% block navbar %}
	{% load i18n %}
	{% load static %}
	<div class="navbar">
		<a class="navlogo" href="/{{ base_language }}/{{ base_flag }}#PRESENTATION"><i class="fa fa-home" ></i></a>
		<a class="navlogo" href="/{{ base_language }}/{{ base_flag }}/about"><i class="fa fa-question-circle-o" ></i><p class="navtext"></p></a>
		<a class="anav" href="/{{ base_language }}/{{ base_flag }}/documents"><i class="fa fa-print" ></i></a>
		<a class="anav" href="/{{ base_language }}/{{ base_flag }}/support"><i class="fa fa-heart" ></i></a>
		<a class="anav" href="/{{ base_language }}/{{ base_flag }}/samu"><i class="fa fa-ambulance " ></i></a>
	</div>
{% endblock %}

{% block flags %}
	{% load i18n %}
	{% load static %}
	<div id="flagscontainer">
		<img onclick="switchVisibilityBlock('changebase')" class="navflags" src="{% get_static_prefix %}translation/flags/{{ base_flag }}.png">
		<i id="navarrow" class="fa fa-arrow-right" aria-hidden="true"></i>
		<a href="/{{ base_language }}/{{ base_flag }}">
			<img class="navflags" src="{% get_static_prefix %}translation/flags/{{ target_flag }}.png">
		</a>
	</div>
{% endblock %}

{% block changebase %}
	{% load i18n %}
	{% load static %}
	{% include "changebase.html" with changebase="" %}
{% endblock %}

{% block section %}
	{% load i18n %}
	{% load static %}
	<section>
	{% for string, short in docs.items %}
		<article class="docarticle">
			<a class="doccontainer" href="/{{ base_language }}/{{ base_flag }}/{{ target_language }}/{{ target_flag }}/{{ short }}/pdf">
				<h2>{% translate string %}</h2>
				<img class="docicon" src="{% get_static_prefix %}translation/docs/icons/{{ short }}.png">
			</a>
		</article>
	{% endfor %}
	</section>
{% endblock %}
