{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!doctype html>
<html lang="fr">
<!-- Template used with permission from https://html5-templates.com/" -->
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Tralelho</title>
		<meta name="description" content="Traductions pour les etrangers à l'hopital">
		<link rel="stylesheet" type="text/css" href="{% static 'translation/style.css' %}">
		<script src="{% static 'translation/app.js' %}" async></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'translation/favicon_io/apple-touch-icon.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'translation/favicon_io/favicon-32x32.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'translation/favicon_io/favicon-16x16.png' %}">
		<link rel="manifest" href="{% static 'translation/favicon_io/site.webmanifest' %}">
	</head>

	<body>
		<header> 
			<div class="navbar">
				<a class="anav" id="active" href="/"><img id="logo" src="{% static 'translation/iconmonstr-globe-5-240.png' %}"><p class="navtext">Traductions</p></a>
				<a class="anav" href="/docindex"><i class="fa fa-file" style="color:#ff8000; font-size: min(10vw, 50px);"></i><p class="navtext">Documents</p></a>
				<a class="anav" href="/support"><i class="fa fa-heart" style="color:#ff8000; font-size: min(10vw, 50px);"></i><p class="navtext">Soutenez-nous</p></a>
				<a class="anav" href="/about"><i class="fa fa-info-circle " style="color:#ff8000; font-size: min(10vw, 50px);"></i><p class="navtext">Qui-sommes nous?</p></a>
			</div> 
			<div id="flagcontainer">
				<a class="anav" href="/"><img id="sourceflag" src="{% static 'translation/flags/fra.png' %}"></a>
			</div>
		</header>
 		<section>
{% comment %} 		 	Section todo, create table with most spoken language based on base language country
			<article>
				<h2>Principales langues étrangères</h2>
				<div class="langcontainer">
					<a href="eng/">
						<figure>
							<img class="flag" src="{% static 'translation/flags/eng.png' %}">
							<figcaption>Royaume-Uni</figcaption>
						</figure>
					</a>
					<a href="spa/">
						<figure>
							<img class="flag" src="{% static 'translation/flags/spa.png' %}">
							<figcaption>Espagnol</figcaption>
						</figure>
					</a>
					<a href="deu/">
						<figure>
							<img class="flag" src="{% static 'translation/flags/deu.png' %}">
							<figcaption>Allemagne</figcaption>
						</figure>
					</a>
					<a href="ita/">
						<figure>
							<img class="flag" src="{% static 'translation/flags/ita.png' %}">
							<figcaption>Italie</figcaption>
						</figure>
					</a>
				</div>
			</article> {% endcomment %}
			<article>
				<h2>Afrique</h2>
				<div class="langcontainer">
					{% if afrique %}
						{% for country in afrique %}
							<a href="{{ country.langcode }}/">
								<figure>
									<img class="flag" src="{% static "translation/flags/"|add:country.flagcode|add:".png" %}">
									<figcaption>{{ country.Name_fr }}</figcaption>
								</figure>
							</a>
						{% endfor %}
					{% else %}
    					<p style="margin: auto">No translations available</p>
					{% endif %}
				</div>
			</article>			
			<article>
				<h2>Amerique du Nord</h2>
				<div class="langcontainer">
					{% if namerique %}
						{% for country in namerique %}
							<a href="{{ country.langcode }}/">
								<figure>
									<img class="flag" src="{% static "translation/flags/"|add:country.flagcode|add:".png" %}">
									<figcaption>{{ country.Name_fr }}</figcaption>
								</figure>
							</a>
						{% endfor %}
					{% else %}
    					<p style="margin: auto">No translations available</p>
					{% endif %}
				</div>
			</article>
			<article>
				<h2>Amerique du Sud</h2>
				<div class="langcontainer">
					{% if samerique %}
						{% for country in samerique %}
							<a href="{{ country.langcode }}/">
								<figure>
									<img class="flag" src="{% static "translation/flags/"|add:country.flagcode|add:".png" %}">
									<figcaption>{{ country.Name_fr }}</figcaption>
								</figure>
							</a>
						{% endfor %}
					{% else %}
    					<p style="margin: auto">No translations available</p>
					{% endif %}
				</div>
			</article>
			<article>
				<h2>Asie</h2>
				<div class="langcontainer">
					{% if asie %}
						{% for country in asie %}
							<a href="{{ country.langcode }}/">
								<figure>
									<img class="flag" src="{% static "translation/flags/"|add:country.flagcode|add:".png" %}">
									<figcaption>{{ country.Name_fr }}</figcaption>
								</figure>
							</a>
						{% endfor %}
					{% else %}
    					<p style="margin: auto">No translations available</p>
					{% endif %}
				</div>
			</article>
			<article>
				<h2>Europe</h2>
				<div class="langcontainer">
					{% if europe %}
						{% for country in europe %}
							<a href="{{ country.langcode }}/">
								<figure>
									<img class="flag" src="{% static "translation/flags/"|add:country.flagcode|add:".png" %}">
									<figcaption>{{ country.Name_fr }}</figcaption>
								</figure>
							</a>
						{% endfor %}
					{% else %}
    					<p style="margin: auto">No translations available</p>
					{% endif %}
				</div>
			</article>
			<article>
				<h2>Oceanie</h2>
				<div class="langcontainer">
					{% if oceanie %}
						{% for country in oceanie %}
							<a href="{{ country.langcode }}/">
								<figure>
									<img class="flag" src="{% static "translation/flags/"|add:country.flagcode|add:".png" %}">
									<figcaption>{{ country.Name_fr }}</figcaption>
								</figure>
							</a>
						{% endfor %}
					{% else %}
    					<p style="margin: auto">No translations available</p>
					{% endif %}
				</div>
			</article>						
		</section>
		<footer>
			<address>
				Contact: <a href="mailto:me@example.com">Mail me</a>
			</address>
		</footer>
	</body>

</html>