
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">

<head>
<title>TraLELHo</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	   <link rel="stylesheet" media="screen" type="text/css" href="stylesamu.css" />

</head>


<body>

  <ul class="navigation">
  	
		
</ul>





<div class="site-wrap"style="font-size:14px;color:#666;background:#373a47 no-repeat;	
	font-family:Arial, Helvetica, sans-serif;
      margin-top:20px;
   margin-right:30px  ">
	
  <h1></h1>

<div id="en_tete">
<p>Anglais</p>

<br/><br/><br/>

<div id="consignes">
<h2>Consignes</h2>
<br/>
<ul id="navigationMenu">
<li><a class="douze"  alt="Epeler" href="#"><span>Can you spell letter by letter.</span></a></li>
<li><a class="treize"  alt="Parler lentement" href="#"><span>Can you speak slowly.</span></a></li>
	<li><a class="quatorze" alt="Répéter"  href="#"><span>Can you repeat.</span></a></li>
	
	<li><a class="centsoixante"  alt="Neurologie" href="#tete"><span>Neurologie</span></a></li>
	<li><a class="centsun"  alt="Malaise" href="#malaise"><span>Malaise</span></a></li>
	<li><a class="centsdeux"  alt="Ophtalmologie" href="#ophtalmo"><span>Ophtalmologie</span></a></li>
	<li><a class="centstrois"  alt="Respiratoire" href="#respi"><span>Respiratoire</span></a></li>
	<li><a class="centsquatre"  alt="Cardiologie" href="#cardio"><span>Cardiologie</span></a></li>
	<li><a class="centscinq"  alt="Digestif" href="#dig"><span>Digestif</span></a></li>
	<li><a class="centssix"  alt="Gynécologie" href="#gyneco"><span>Gynécologie</span></a></li>
	<li><a class="centssept"  alt="Pédiatrie" href="#pedia"><span>Pédiatrie</span></a></li>
	<li><a class="centshuit"  alt="Antécédents" href="#ant"><span>Antécédents</span></a></li>
	<li><a class="centsneuf"  alt="Consignes" href="#gestes"><span>Gestes de secours</span></a></li>
			
	</ul>
	
	

    <FORM>
    <TEXTAREA name="nom" rows=15 cols=50>->  Zone de texte : vous pouvez noter dans ce cadre votre bilan au fil des questions et ensuite faire un copier/coller sur votre logiciel de régulation.</TEXTAREA>
    </FORM>

	
	
	</div>
	

<h2>Adresse et nom :</h2><br/>
<div id="main">
   
<ul id="navigationMenu">
<li><a class="centvquatre" alt="je suis ARM" href="#"><span>Hello, you are speaking to a regulation medical assistant from the SAMU </span></a></li>
<li><a class="un" alt="Besoin infos" href="#"><span>I will need some few details from you </span></a></li>
	<li><a class="deux" alt="Pour qui appelez vous ?" href="#"><span> Are you calling for yourself or for someone else?</span></a></li>
<li><a class="trois" alt="Commune"  href="#"><span>In what city are you ? &nbsp; &nbsp;   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; In which city is he?</span></a></li>
<li><a class="quatre" alt="Où avez vous mal ?"  href="#"><span>What is your address?&nbsp; &nbsp;   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; What is his address?</span></a></li>

	<li><a class="cinq"  alt="Rue" href="#"><span>What is the name of the street?</span></a></li>
	<li><a class="six" alt="Numéro maison"  href="#"><span>What is the house or flat number?</span></a></li>
	<li><a class="sept" alt="Etage"  href="#"><span>On which floor is the flat?</span></a></li>
		<li><a class="huit" alt="Nom digicode ?"  href="#"><span>What's the name or number on the digicode or doorbell?</span></a></li>
		<li><a class="neuf"  alt="Nom famille" href="#"><span>What's your family name ?</span></a></li>
			<li><a class="centtdeux"  alt="Nom personne pour qui vous appeler" href="#tete"><span>What's the family name of the person you are calling for?</span></a></li>
	
	<li><a class="dix" alt="Prénom"  href="#"><span>What's your first name ?&nbsp; &nbsp;   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; What's his first name ?</span></a></li>
	<li><a class="onze" alt="Date naissance"  href="#"><span>What's your birth date ?&nbsp; &nbsp;   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; What's his birth date ?</span></a></li>
			</ul>
</div>

<h2>Circonstances</h2><br/>
<div id="main">
<ul id="navigationMenu">

	<li><a class="vingtdeux"  alt="Approcher de lui" href="#"><span>Can you get beside him ?</span></a></li>
	<li><a class="vingttrois"  alt="conscient ?" href="#"><span>Is he conscious, is he answering your question ?</span></a></li>
		<li><a class="vquatre"  alt="est ce qu'il respire" href="#"><span>Is he breathing? Can you see his chest going up and down?</span></a></li>	
	<br/>
	<li><a class="trenteun"  alt="Avez vous des douleur ?" href="#"><span>Do you have pains ?</span></a></li>
	<li><a class="centvingt"  alt="La douleur est :" href="#"><span>The pain is :</span></a></li>
<li><a class="centvun"  alt="Faible" href="#"><span>Weak</span></a></li>
<li><a class="centvdeux"  alt="Moyenne" href="#"><span>Average</span></a></li>
<li><a class="centvtrois"  alt="Forte" href="#"><span>Strong</span></a></li>
<li><a class="centvcinq"  alt="Inupportable" href="#"><span>Unbearable</span></a></li>
	<li><a class="trented"  alt="Ou avez vous mal ?" href="#"><span>Where does it hurt?</span></a></li>

	</ul>
	
	</div>



<MAP name="map"> 

<AREA shape="rect" coords="100,0,217,104" href="#tete" title="Tête et cou">

<AREA shape="rect" coords="45,100,100,340" href="#bras" title="Bras">

<AREA shape="rect" coords="110,100,210,220" href="#respi" title="Torse">

<AREA shape="rect" coords="100,220,216,316" href="#dig" title="Abdo">

<AREA shape="rect" coords="710,450,985,612" href="#tete" title="Autre">

<AREA shape="rect" coords="420,375,602,583" href="#tete" title="Autre">

 </MAP>

 <div class="corps">
<IMG USEMAP="#map" SRC="css/images/corps.png" WIDTH="300px" HEIGHT="600px" >
</div>

</div>

<h2>Parties du corps</h2><br/>
<div id="main">
<ul id="navigationMenu">
		<li><a class="cent"  alt="tete" href="#tete"><span>Head</span></a></li>
		<li><a class="centun"  alt="cou" href="#tete"><span>Neck</span></a></li>
		<li><a class="centdeux"  alt="dos" href="#accident"><span>Back</span></a></li>
		<li><a class="centtrois"  alt="bras" href="#accident"><span>Arm</span></a></li>
		<li><a class="centquatre"  alt="jambe" href="#accident"><span>Leg</span></a></li>
		<li><a class="centsonze"  alt="genou" href=""><span>Knee</span></a></li>
		<li><a class="centsdouze"  alt="cheville" href=""><span>Ankle</span></a></li>
		<li><a class="centcinq"  alt="torse" href="#respi"><span>Torso</span></a></li>
		<li><a class="centsix"  alt="ventre" href="#dig"><span>Stomach</span></a></li>

	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	
	
	
	
</ul>
</div>

<div id="accident">
<h2>Traumatologie</h2><br/><br/>

<ul id="navigationMenu">


	<li><a class="vneuf"  alt="Saigne ?" href="#"><span>Are you losing a lot of blood?&nbsp; &nbsp;   &nbsp; &nbsp;  &nbsp;   &nbsp; &nbsp; &nbsp; Is he losing a lot of blood?</span></a></li>
<li><a class="centtreize"  alt="Ejecté ?" href="#"><span>Were you thrown from the vehicle?</span></a></li>
<li><a class="centquatorze"  alt="Quelle vitesse ?" href="#"><span>What speed were you going?</span></a></li>
<li><a class="centquinze"  alt="Casqué ?" href="#"><span>Were you wearing a helmet?</span></a></li>
<li><a class="centseize"  alt="Ceinture sécurité ?" href="#"><span>Were you wearing a seatbelt?</span></a></li>
<li><a class="centdsept"  alt="Chute ?" href="#"><span>Did you fall down?</span></a></li>
<li><a class="centdhuit"  alt="Quelle hauteur ?" href="#"><span>From what height did you fall?</span></a></li>
<li><a class="centdneuf"  alt="Anticoagulants ?" href="#"><span>Do you take any anticoagulants or any medication to thin the blood or that makes you bleed ?</span></a></li>

	
	

</ul>
</div>



<div id="tete">
<h2>Neuro</h2><br/><br/>

<ul id="navigationMenu">

	<li><a class="vingtdeux"  alt="Approcher de lui" href="#"><span>Can you get beside him now</span></a></li>
	<li><a class="vingttrois"  alt="conscient ?" href="#"><span>Is he conscious, is he answering your question ?</span></a></li>
	<li><a class="trenteq"  alt="Perte connaissance ?" href="#"><span>Did you lose consciousness? Did you pass out ? &nbsp; &nbsp;   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;   Did he lose consciousness?</span></a></li>
	<br/>
	<li><a class="trentec"  alt="parle t il normalement" href="#"><span>Does he speak normally? Is his enunciation normal?</span></a></li>
		<li><a class="centcinquante"  alt="ce qu'il dit a du sens ?" href="#"><span>Does it make sense when he is speaking ?</span></a></li>
	<li><a class="trentes"  alt="Bouger mains et pieds ?" href="#"><span>Can you move your hands and feet?</span></a></li>
	<li><a class="trentesept"  alt="Douleur tete  ?" href="#"><span>Do you have a headache?</span></a></li>
	<br/><li><a class="quatrevingt"  alt="coup à la tête ?" href="#"><span>Have you been hit in the head recently?</span></a></li>

	<li><a class="thuit"  alt="Douleur apparue  ?" href="#"><span>The pain came on:</span></a></li>
	<li><a class="tneuf"  alt="Progressivement ?" href="#"><span>little by little</span></a></li>
	<li><a class="quarante"  alt="Brutalement ?" href="#"><span>suddenly</span></a></li>
	<li><a class="qun"  alt="Douleur nuque ?" href="#"><span>Do you have any pain in the neck?</span></a></li>
	<li><a class="qdeux"  alt="Voyage ?" href="#"><span>Have you travelled in the last few months?</span></a></li>
	<li><a class="qtrois"  alt="Quel pays ?" href="#"><span>Where to?</span></a></li>
	<li><a class="qquatre"  alt="lumière dérange ?" href="#"><span>Does the light bother you?</span></a></li>
	<li><a class="qcinq"  alt="Bruit dérange ?" href="#"><span>Does the noise bother you?</span></a></li>
	<br/>
<li><a class="cinquanteneuf"  alt="Vertiges ?" href="#"><span>Have you had vertigo before?</span></a></li>
<li><a class="soixantedhuit"  alt="Pièce qui tourne ?" href="#"><span>Do you feel that the room is turning around you ?</span></a></li>
<li><a class="soixante"  alt="Perdu urines ?" href="#"><span>Did you experience any incontinence?</span></a></li>
<li><a class="soixanteun"  alt="Mordu langue ?" href="#"><span>Did you bite your tongue?</span></a></li>
<li><a class="soixantedeux"  alt="Convulsé?" href="#"><span>Did you experience any convulsions?</span></a></li>
<br/>
		<li><a class="vcinq"  alt="température ?" href="#"><span>Did you check your temperature? &nbsp; &nbsp;   &nbsp; &nbsp;Did you check his temperature?</span></a></li>
	<li><a class="vsix"  alt="Tempet combien" href="#"><span>How high is your temperature?&nbsp; &nbsp;   &nbsp; &nbsp;How high is his temperature?</span></a></li>

	
	
	
	
	
	</ul>
</div>

<div id="malaise">
<h2>Malaise</h2><br/><br/>

<ul id="navigationMenu">
<li><a class="centqneuf"  alt="Avez vous fait malaise" href="#"><span>Did you faint or lose consciousness?&nbsp; &nbsp;   &nbsp; &nbsp; Did he faint or lose consciousness?</span></a></li>
<li><a class="centcinquante"  alt="ce qu'il dit a du sens ?" href="#"><span>Does he make sense when he speak?</span></a></li>

<li><a class="cinquantehuit"  alt="Senti malaise arriver ?" href="#"><span>Did you feel your dizziness coming ?/Did the dizziness come on slowly?</span></a></li>
<li><a class="cinquanteneuf"  alt="Vertiges ?" href="#"><span>Have you had vertigo before?</span></a></li>
<li><a class="soixante"  alt="Perdu urines ?" href="#"><span>Did you experience any incontinence?</span></a></li>
<li><a class="soixanteun"  alt="Mordu langue ?" href="#"><span>Did you bite your tongue? </span></a></li>
<li><a class="soixantedeux"  alt="Convulsé?" href="#"><span>Did you experience any convulsions?</span></a></li>
<li><a class="soixantetrois"  alt="Mangé ?" href="#"><span>Have you eaten today?</span></a></li>
	<li><a class="vsept"  alt="Paleurs ?" href="#"><span>Are you pale? &nbsp; &nbsp;   &nbsp; &nbsp; Is he pale?</span></a></li>
	<li><a class="vhuit"  alt="Sueurs ?" href="#"><span>Are you sweating?&nbsp; &nbsp;   &nbsp; &nbsp;Is he sweating?</span></a></li>

	</ul>
</div>

<div id="ophtalmo">
<h2>Ophtalmo</h2><br/><br/>


<ul id="navigationMenu">

<li><a class="soixanteseize"  alt="Vision normale ?" href="#"><span>Is your vision normal?</span></a></li>
<li><a class="soixantedsept"  alt="Vision flou ?" href="#"><span>Is your vision blurry?</span></a></li>
<li><a class="centcneuf"  alt="vision double ?" href="#"><span>Are you seeing double?</span></a></li>
<li><a class="soixantedneuf"  alt="piece tourne ?" href="#"><span>Do you feel that the room is turning around you ?</span></a></li>
<li><a class="quatrevingt"  alt="coup à la tête ?" href="#"><span>Have you been hit in the head recently?</span></a></li>
<li><a class="centcsept"  alt="oeil rouge ou douloureux ?" href="#"><span>Is your eye red? Is it sore?</span></a></li>

</ul>
</div>

<div id="respi">
<h2>Respiratoire</h2><br/><br/>

<ul id="navigationMenu">
	<li><a class="vquatre"  alt="est ce qu'il respire" href="#"><span>Is he breathing? Can you see his chest going up and down?</span></a></li>	
	<li><a class="centtneuf"  alt="PLS" href="#"><span>Can you place the person in the recovery position? Can you lie him down on his side?</span></a></li>
	<li><a class="centquarante"  alt="avalé travers ?" href="#"><span>Did the person swallow something the wrong way?</span></a></li>
	<li><a class="centqun"  alt="peut parler ?" href="#"><span>Can the person talk?</span></a></li>
	<li><a class="centqdeux"  alt="couleur visage ?" href="#"><span>What colour is his face? Blue? White? Red?</span></a></li>
	<li><a class="centqtrois"  alt="allongez coté, tete arriere ?" href="#"><span>Lie the person down on his side, with his head slightly tilted back, to avoid their lungs to fill up if he throw up. </span></a></li>
	<li><a class="centqquatre"  alt="tappez fort dans dos" href="#"><span>Hit his back very hard with your flat hand, again !</span></a></li>
	<li><a class="centqcinq"  alt="hemlich" href="#"><span>Go behind him. Put both your arms around him.<br/> Place your two fists around each other and press very hard towards you and upwards to dislodge the foreign object. </span></a></li>
	<br/><br/>
	<li><a class="centqsix"  alt="installez sur le dos" href="#"><span>Can you lie him down on his back </span></a></li>
<br/>
		
		<li><a class="centcdeux"  alt="gene respi ?" href="#"><span>Are you having trouble breathing? / short of breath?</span></a></li>
		<li><a class="qsix"  alt="Asthmatique ?" href="#"><span>Are you asthmatic?</span></a></li>
<li><a class="qsept"  alt="Traitement asthme ?" href="#"><span>Have you taken your asthma medication?</span></a></li>
<li><a class="qhuit"  alt="Respirer fumée?" href="#"><span>Have you breathed in any type of smoke?</span></a></li>







	</ul>
</div>
<div id="cardio">
<h2>Circulatoire</h2><br/><br/>

<ul id="navigationMenu">

	<li><a class="centcun"  alt="douleur poitrine ?" href="#"><span>Have you got a pain in your chest?</span></a></li>

	<li><a class="centvsix"  alt="brule" href="#"><span>The pain is burning.</span></a></li>
<li><a class="centvsept"  alt="serre" href="#"><span>The pain is pressing.</span></a></li>
<li><a class="centvhuit"  alt="etau" href="#"><span>The pain is like a clamp.</span></a></li>
<li><a class="centvneuf"  alt="ecrase" href="#"><span>The pain is crushing.</span></a></li>
<li><a class="centtrente"  alt="taille zone douloureuse" href="#"><span>What size is the area in pain?  Is it the size of a finger tip? Does it cover the whole chest?</span></a></li>
<li><a class="centtun"  alt="augmente quand appuie" href="#"><span> Is it more painful when you press on it? When you expand your chest?</span></a></li>

	
	<li><a class="qneuf"  alt="Douleur irradie ?" href="#"><span>Is your pain referring to any other part of your body? </span></a></li>
<li><a class="cinquante"  alt="Combien temps dure la douleur  ?" href="#"><span>How long have you experienced this pain?</span></a></li>
<li><a class="cinquanteun"  alt="Minute" href="#"><span>Minutes</span></a></li>
<li><a class="cinquantedeux"  alt="Heure" href="#"><span>hours</span></a></li>
<li><a class="cinquantetrois"  alt="Jour" href="#"><span>days</span></a></li>
		<li><a class="centctrois"  alt="premiere fois ?" href="#"><span>Is it the first time you experience this type of pain?</span></a></li>
		<li><a class="centcquatre"  alt="repos ou effort ?" href="#"><span>Did it appear while resting or following an effort? Which?</span></a></li>
		<li><a class="centccinq"  alt="famille pb coeur ?" href="#"><span>Do you have any cardiac family medical history?</span></a></li>
		<li><a class="centcsix"  alt="taille et poids ?" href="#"><span>How tall are you?* How much do you weigh?*</span></a></li>



<li><a class="cinquantequatre"  alt="Palpitations ?" href="#"><span>Are you having any palpitations?</span></a></li>
	
	
	
	
	</ul>
</div>






<div id="dig">
<h2>Digestif</h2><br/><br/>

<ul id="navigationMenu">

<li><a class="soixantequatre"  alt="Brulures mictions?" href="#"><span>Have you experienced any burning sensation when urinating?</span></a></li>
<li><a class="soixantecinq"  alt="Sang urine ?" href="#"><span>Have you noticed any blood in your urine?</span></a></li>
<li><a class="soixantehuit"  alt="heure dernieres urines?" href="#"><span>When was the last time you urinated today?</span></a></li>
<br/>
<li><a class="soixantesix"  alt="Date dernieres regle ?" href="#"><span>When was your last period?</span></a></li>
<li><a class="soixantesept"  alt="Enceinte ?" href="#"><span>Are you pregnant?</span></a></li>
<li><a class="trente"  alt="Quel hopital etes vous suivi ?" href="#"><span>Which hospital are you usually attending?</span></a></li>
<br/>
<li><a class="soixanteneuf"  alt="Constipé ?" href="#"><span>Are you experiencing any constipation?</span></a></li>
<li><a class="soixantedix"  alt="Combien jours ?" href="#"><span>For how many days?</span></a></li>
<li><a class="soixanteonze"  alt="nausées ?" href="#"><span>Have you experienced any nausea?</span></a></li>
<li><a class="soixantedouze"  alt="Diarhées ?" href="#"><span>Have you had any bouts of diarrhea?</span></a></li>
<li><a class="soixantetreize"  alt="Vomi ?" href="#"><span>Have you vomited?&nbsp; &nbsp;  &nbsp; &nbsp;   &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;   &nbsp; &nbsp; Have you noticed any blood in your vomit?</span></a></li>
<li><a class="soixantequatorze"  alt="Sang dans selles ?" href="#"><span>Have you noticed any blood in your stool?</span></a></li>
<li><a class="soixantequinze"  alt="Gazs ?" href="#"><span>Do you have any gas?</span></a></li>

	
</ul>
</div>
<div id="gyneco">
<h2>Gynécologie</h2><br/><br/>

<ul id="navigationMenu">

<li><a class="soixantesept"  alt="Enceinte ?" href="#"><span>Are you pregnant?</span></a></li>
<li><a class="qvquinze"  alt="De combien de semaines ?" href="#"><span>How far along are you?</span></a></li>
<li><a class="trente"  alt="Quel hopital etes vous suivi ?" href="#"><span>Which hospital are you usually attending?</span></a></li>
<li><a class="qvseize"  alt="Règles ?" href="#"><span>Are you menstruating?</span></a></li>
<li><a class="qvdsept"  alt="Perdu sang ?" href="#"><span>Have you lost any blood?</span></a></li>
<li><a class="qvdhuit"  alt="Rouge ou noir ?" href="#"><span>Was the blood red or black?</span></a></li>
<li><a class="qvdneuf"  alt="Pd grossesse précédentes ?" href="#"><span>Did you have any problems during your last pregnancy?</span></a></li>
<li><a class="centonze"  alt="Contractions ?" href="#"><span>Do you have any contractions?</span></a></li>
<li><a class="centdouze"  alt="Perdu les eaux ?" href="#"><span>Has your water broken?</span></a></li>
</ul>
</div>


<div id="pedia">
<h2>Pédiatrie</h2><br/><br/>

<ul id="navigationMenu">


<li><a class="qvsept"  alt="Bébé perdu poids ?" href="#"><span>Has the baby lost any weight?  How much?</span></a></li>
<li><a class="qvhuit"  alt="vaccins ?" href="#"><span>Is the baby up-to-date with his/her vaccinations?</span></a></li>
<li><a class="qvneuf"  alt="freres et soeurs ?" href="#"><span>Are your other children sick?</span></a></li>
<li><a class="qvdix"  alt="mange bien ?" href="#"><span>Is he/she eating well?</span></a></li>
<li><a class="qvonze"  alt="vomi ?" href="#"><span>Is he/she vomiting?</span></a></li>
<li><a class="qvdouze"  alt="Plus agité ?" href="#"><span>Does he/she seem more active than normal?</span></a></li>
<li><a class="qvtreize"  alt="Plus fatigué?" href="#"><span>Does he/she seem more tired than usual?</span></a></li>
<li><a class="qvquatorze"  alt="Diarrhées ?" href="#"><span>Does he/she have any diarrhea?</span></a></li>



</ul>
</div>



<br/>
<div id="ant">
<h2>Antécédents</h2><br/>

<ul id="navigationMenu">
<li><a class="qvun"  alt="Maladies?" href="#"><span>Do you have any medical issues (diabetes, hypertension, etc)?</span></a></li>
<li><a class="qvdeux"  alt="Hopit?" href="#"><span>Have you been hospitalised recently?</span></a></li>
<li><a class="qvtrois"  alt="TTT ?" href="#"><span>Are you being treated for anything?  For what?</span></a></li>
<li><a class="qvquatre"  alt="Ordonnace ?" href="#"><span>Do you have a prescription for your treatment?</span></a></li>
<li><a class="qvcinq"  alt="Allergie ?" href="#"><span>Do you have any allergies? What are you allergic to?</span></a></li>
<li><a class="qvsix"  alt="ATCD maladie dans famille ?" href="#"><span>Do you have any family medical history?</span></a></li>
<li><a class="cinquantecinq"  alt="Alcool ?" href="#"><span>Do you drink alcohol?</span></a></li>
<li><a class="cinquantesix"  alt="Diabète ?" href="#"><span>Are you diabetic?</span></a></li>
<li><a class="cinquantesept"  alt="Cholesterol ?" href="#"><span>Do you have high cholesterol?</span></a></li>
<li><a class="centsdix"  alt="Fumez vous ?" href="#"><span>Do you smoke ?</span></a></li>

</ul>
</div>



<br/>
<div id="gestes">
<h2>Gestes de secours</h2><br/>

<ul id="navigationMenu">

	<li><a class="centtcinq"  alt="Restez au repos" href="#"><span>Please remain rested.</span></a></li>
	<br/>
	<li><a class="centtsept"  alt="Position assise" href="#"><span>Could you please sit the person up/down? ( Sit up = quand la personne est allongée, Sit down = quand la personne est debout)</span></a></li>
	<li><a class="centthuit"  alt="Position allongée" href="#"><span>Can you please lie the person down?</span></a></li>
	<li><a class="centtneuf"  alt="PLS" href="#"><span>Can you place the person in the recovery position? Can you lie him down on his side?</span></a></li>
		<li><a class="centqtrois"  alt="allongez coté, tete arriere ?" href="#"><span>Lie the person down on his side, with his head slightly tilted back, to avoid his lungs to fill up if they throw up. </span></a></li>
	<li><a class="centqcinq"  alt="hemlich" href="#"><span>Position yourself behind him.Put both your arms around him.<br/> Place your two fists around each other and press very hard towards you and upwards to dislodge the foreign object. </span></a></li>
	<br/><br/>
	<li><a class="centqsix"  alt="installez sur le dos" href="#"><span>Can you position him on his back?</span></a></li>
	<li><a class="centqsept"  alt="je vais expliquer massage cardiaque" href="#"><span> I am going to talk you through how to do a cardiac massage.</span></a></li>
	<li><a class="centqhuit"  alt="RCP" href="#"><span>He/she is lying down on the floor. Kneel down beside him. Place both your hands on top of each other, arms outstretched like a piston.<br/>  
	Position your shoulders directly above him/her and press hard and vigorously in the centre of his chest, while counting "and one, and two..." <br/> until the paramedics arrive. </span></a></li>
	<br/><br/><br/><br/><br/>

<br/>
	
	
	</ul>
</div>



<br/>
<div id="consigne">
<h2>Conclusion</h2><br/>

<ul id="navigationMenu">
	<li><a class="centtcinq"  alt="Restez au repos" href="#"><span>Please remain rested.</span></a></li>

	<li><a class="dixs"  alt="Vous pouvez raccrocher" href="#"><span>You can hang up.</span></a></li>
<li><a class="dixh" alt="Ne raccrochez pas"  href="#"><span>Don't hang up, a doctor will speak to you</span></a></li>
	<li><a class="dixn" alt="Je vous met en attente"  href="#"><span>I am putting you on hold.</span></a></li>
	<br/>
	<li><a class="vingt" alt="Je vous envoie une ambulance"  href="#"><span>I am sending you an ambulance/the paramedics.</span></a></li>
		<li><a class="centttrois" alt="Je vous envoie pompiers"  href="#"><span>I am sending you the fire brigade/the paramedics.</span></a></li>
	<li><a class="centtquatre" alt="Je vous envoie équipe médicale"  href="#"><span>I am sending you a medical team.</span></a></li>
	<li><a class="vingtun" alt="Je vous envoie un médecin"  href="#"><span>I am sending you a doctor.</span></a></li>
	<br/>
	<li><a class="quinze" alt="Le méd va rappeler"  href="#"><span>The doctor will call you back on this number, keep this phone beside you.</span></a></li>
	<li><a class="seize"  alt="Si Pb rappeler 15" href="#"><span>If there is any problem, you can call us back by dialling number fifteen / one-five.</span></a></li>


</ul>
</div>

</body>
	</html>
