{% extends "base.html" %}

{% block navbar %}
	{% load i18n %}
	{% load static %}
	<div class="navbar">
		<a class="navlogo" href="/{{ base_language }}/{{ base_flag }}"><i class="fa fa-globe" ></i><p class="navtext">Tralelho</p></a>	
		<a class="anav" href="/{{ base_language }}/{{ base_flag }}"><i class="fa fa-language" ></i></a>
		<a class="anav" href="/{{ base_language }}/{{ base_flag }}/documents"><i class="fa fa-file" ></i></a>
		<a class="anav" id="active" href="/{{ base_language }}/{{ base_flag }}/support"><i class="fa fa-heart" ></i></a>
	</div>
{% endblock %}

{% block flags %}
	<div id="flagcontainer" onclick="switchVisibilityBlock('changebase')">
		<img id="sourceflag" src="{% get_static_prefix %}translation/flags/{{ base_flag }}.png">
	</div>
{% endblock %}

{% block changebase %}
	{% load i18n %}
	{% load static %}
	{% include "changebase.html" with changebase="" %}
{% endblock %}

{% block section %}
	{% load i18n %}
	{% load static %}
	<section class="support">
		<h1><u>Soutenir TraLELHo</u></h1>
		<article>
			<h2>Traduction</h2>
			<p>Soutenir TraLELHo c'est d'abord l'utiliser, le diffuser auprès de vos collègues, amis.</p>
			<p>C'est aussi nous <a href="mailto:info@tralelho.fr">contacter</a> si vous parlez une langue étrangère pour nous proposer une correction ou une nouvelle traduction.</p>
			<p>Vous pouvez utiliser notre service <a href="https://tralelho.crowdin.com/TranslatorAccess">Crowdin</a> pour traduire des phrases dans le langue de votre choix</p>
		</article>
		<article>
			<h2>Faire un Don</h2>
			<p>Enfin soutenir TraLELHo peut aussi passer par un don, afin d'aider le site à rester héberger aussi longtemps que possible, ou a obtenir de nouvelles traductions ou corrections.</p>
			<p>Avec 4 euros vous permettez au site d'être hébergé un mois de plus, avec 50 euros vous permettez de traduire une nouvelle langue.</p>
			<a id="don" href="https://www.paypal.me/tralelho">
				<img src="{% get_static_prefix %}/translation/don.JPEG">
			</a>
		</article>
	</section>
{% endblock %}