{% load static %}
{% load i18n %} 
{% language language_id %}
<!doctype html>
<html lang="en" class="no-js">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Tralelho</title>
		<meta name="description" content="Traductions pour les etrangers à l'hopital">
		<link rel="stylesheet" type="text/css" href="{% static 'translation/style.css' %}">
		<script src="{% static 'translation/app.js' %}" async></script>		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'translation/favicon_io/apple-touch-icon.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'translation/favicon_io/favicon-32x32.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'translation/favicon_io/favicon-16x16.png' %}">
		<link rel="manifest" href="{% static 'translation/favicon_io/site.webmanifest' %}">
	</head>

	<body>
		<header> 
			<div class="navbar">
				<a class="anav" id="active" href="/"><img id="logo" src="{% static 'translation/iconmonstr-globe-5-240.png' %}"><p class="navtext">Traductions</p></a>
				<a class="anav" href="/docindex"><i class="fa fa-file" style="color:#ff8000; font-size: min(10vw, 50px);"></i><p class="navtext">Documents</p></a>
				<a class="anav" href="/support"><i class="fa fa-heart" style="color:#ff8000; font-size: min(10vw, 50px);"></i><p class="navtext">Soutenez-nous</p></a>
				<a class="anav" href="/about"><i class="fa fa-info-circle " style="color:#ff8000; font-size: min(10vw, 50px);"></i><p class="navtext">Qui-sommes nous?</p></a>
			</div> 
			<div id="flagcontainer">
				<a class="anav" href="/">
					<img class="smallflag" src="{% static 'translation/flags/fra.png' %}">
					<img class="smallflag" src="{% get_static_prefix %}translation/flags/{{ language_id }}.png">
				</a>
			</div>
		</header>
		<traduction>
			<nav>
				<button type="button" class="transbutton"><i class="fa fa-language fa-1g" aria-hidden="true"></i></button>
				<button onclick='collapsenav()' type="button" class="collapsible"></button>
				<div class="content">
					<ul>
						<li><a onclick='collapsenav()' href='#PRESENTATION'>PRESENTATION</a></li>
						<li><a onclick='collapsenav()' href='#IDENTITÉ'>IDENTITÉ</a></li>
						<li><a onclick='collapsenav()' href='#ATTENTE'>ATTENTE</a></li>
						<li><a onclick='collapsenav()' href='#ACCUEIL'>ACCUEIL</a></li>
						<li><a onclick='collapsenav()' href='#NEUROLOGIE'>NEUROLOGIE</a></li>
						<li><a onclick='collapsenav()' href='#PNEUMOLOGIE'>PNEUMOLOGIE</a></li>
						<li><a onclick='collapsenav()' href='#CARDIOLOGIE'>CARDIOLOGIE</a></li>
						<li><a onclick='collapsenav()' href='#MALAISE'>MALAISE</a></li>
						<li><a onclick='collapsenav()' href='#DIGESTIF'>DIGESTIF</a></li>
						<li><a onclick='collapsenav()' href='#INFECTIEUX'>INFECTIEUX</a></li>
						<li><a onclick='collapsenav()' href='#OPHTALMOLOGIE'>OPHTALMOLOGIE</a></li>
						<li><a onclick='collapsenav()' href='#ANTÉCÉDENTS'>ANTÉCÉDENTS</a></li>
						<li><a onclick='collapsenav()' href='#PEDIATRIE'>PEDIATRIE</a></li>
						<li><a onclick='collapsenav()' href='#GYNECOLOGIE'>GYNECOLOGIE</a></li>
						<li><a onclick='collapsenav()' href='#TRAUMATOLOGIE'>TRAUMATOLOGIE</a></li>
						<li><a onclick='collapsenav()' href='#EXAMENS'>EXAMENS</a></li>
						<li><a onclick='collapsenav()' href='#TRAITEMENTS et CONSIGNES'>TRAITEMENTS et CONSIGNES</a></li>
						<li><a onclick='collapsenav()' href='#CONCLUSION'>CONCLUSION</a></li>
						<li><a onclick='collapsenav()' href='#PATIENT EN STRUCTURE'>PATIENT EN STRUCTURE</a></li>
					</ul>
				</div>
			</nav>
			<main role="main">
                <h2 class="txtUpsideDown">Text upside down</h2>
				<h2 id='PRESENTATION'>PRESENTATION</h2>
				<table class='tg'>
				<tbody>
				<tr> 
				<td><p>Bonjour, je suis</p></td> 

				</tr> 
				<tr> 
				<td><p>Infirmière</p></td> 

				</tr> 
				<tr> 
				<td><p>Médecin</p></td> 

				</tr> 
				<tr> 
				<td><p>Secouriste</p></td> 

				</tr> 
				<tr> 
				<td><p>Bénévole</p></td> 

				</tr> 
				<tr> 
				<td><p>Agent d'accueil</p></td> 

				</tr> 
				<tr> 
				<td><p>Etudiant en médecine</p></td> 

				</tr> 
				<tr> 
				<td><p>Sage-femme</p></td> 

				</tr> 
				<tr> 
				<td><p>Secrétaire</p></td> 

				</tr> 
				<tr> 
				<td><p>Soignant</p></td> 

				</tr> 
				<tr> 
				<td><p>Je vais utiliser le téléphone pour traduire les questions que j'ai à vous poser, êtes vous d'accord ?</p></td> 

				</tr> 
				</tbody>
				</table>
				<h2 id='IDENTITÉ'>IDENTITÉ</h2>
				<table class='tg'>
				<tbody>
				<tr> 
				<td><p>Pouvez-vous me montrez votre passeport ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Pouvez-vous me montrez une carte d’identité ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Pouvez-vous me montrer des papiers avec votre nom ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Pouvez-vous me montrer une carte Européenne de santé ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Pouvez-vous me montre une carte d’assurance privée ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Les frais des soins seront à votre charge</p></td> 

				</tr> 
				<tr> 
				<td><p>Les frais des soins ne seront pas à votre charge</p></td> 

				</tr> 
				<tr> 
				<td><p>De quel pays venez-vous ?</p></td> 

				</tr> 
				<tr> 
				<td><p>A quelle adresse vivez-vous actuellement ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Avez-vous un numéro de téléphone où l’on peut vous joindre ?</p></td> 

				</tr> 
				</tbody>
				</table>
				<h2 id='ATTENTE'>ATTENTE</h2>
				<table class='tg'>
				<tbody>
				<tr> 
				<td><p>Je vous laisse attendre :</p></td> 

				</tr> 
				<tr> 
				<td><p>sur les chaises</p></td> 

				</tr> 
				<tr> 
				<td><p>sur le banc</p></td> 

				</tr> 
				<tr> 
				<td><p>dans la salle d'attente</p></td> 

				</tr> 
				<tr> 
				<td><p>Nous viendrons vous appeler</p></td> 

				</tr> 
				<tr> 
				<td><p>Merci de ne pas manger, boire ou fumer pendant l’attente</p></td> 

				</tr> 
				<tr> 
				<td><p>Votre famille devra attendre ici</p></td> 

				</tr> 
				<tr> 
				<td><p>Selon votre état de santé, le médecin demandera parfois des soins, comme une prise de sang, un examen comme une radio ou un scanner, ou pourra demander de vous garder en observation pour surveiller votre état de santé</p></td> 

				</tr> 
				<tr> 
				<td><p>Nous vous demandons de ne pas manger ou boire tant que le médecin ne vous y a pas autorisé, certains examens demandant de rester à jeun</p></td> 

				</tr> 
				<tr> 
				<td><p>Il faut attendre “1 heure” pour avoir les résultats de la prise de sang</p></td> 

				</tr> 
				</tbody>
				</table>
				<h2 id='ACCUEIL'>ACCUEIL</h2>
				<table class='tg'>
				<tbody>
				<tr> 
				<td><p>Qu’est-ce qui vous arrive ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Avez-vous des douleurs ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Oui</p></td> 

				</tr> 
				<tr> 
				<td><p>Non</p></td> 

				</tr> 
				<tr> 
				<td><p>Montrez-moi où vous avez mal</p></td> 

				</tr> 
				<tr> 
				<td><p>Je vais vous examiner</p></td> 

				</tr> 
				<tr> 
				<td><p>Pourriez-vous chiffrer votre douleur entre 0 et 10 ? (10 étant la note pour une douleur insupportable)</p></td> 

				</tr> 
				<tr> 
				<td><p>0</p></td> 

				</tr> 
				<tr> 
				<td><p>1</p></td> 

				</tr> 
				<tr> 
				<td><p>2</p></td> 

				</tr> 
				<tr> 
				<td><p>3</p></td> 

				</tr> 
				<tr> 
				<td><p>4</p></td> 

				</tr> 
				<tr> 
				<td><p>5</p></td> 

				</tr> 
				<tr> 
				<td><p>6</p></td> 

				</tr> 
				<tr> 
				<td><p>7</p></td> 

				</tr> 
				<tr> 
				<td><p>8</p></td> 

				</tr> 
				<tr> 
				<td><p>9</p></td> 

				</tr> 
				<tr> 
				<td><p>10</p></td> 

				</tr> 
				<tr> 
				<td><p>Pouvez vous vous déshabiller pour que je vous examine ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Vous pouvez garder vos sous-vêtements</p></td> 

				</tr> 
				<tr> 
				<td><p>Vous pouvez vous asseoir sur la chaise</p></td> 

				</tr> 
				<tr> 
				<td><p>Vous pouvez vous allonger sur la table d'examen</p></td> 

				</tr> 
				<tr> 
				<td><p>Vous pouvez vous allonger sur le brancard</p></td> 

				</tr> 
				</tbody>
				</table>
				<h2 id='NEUROLOGIE'>NEUROLOGIE</h2>
				<table class='tg'>
				<tbody>
				<tr> 
				<td><p>Avez-vous perdu connaissance ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Savez-vous quel jour nous sommes ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Savez-vous où vous êtes ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Suivez mon doigt du regard</p></td> 

				</tr> 
				<tr> 
				<td><p>Pouvez-vous bouger vos mains et vos pieds ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Je vais toucher vos mains et vos pieds, sentez-vous que je vous touche ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Regardez-moi dans les yeux, je vais observer vos pupilles</p></td> 

				</tr> 
				<tr> 
				<td><p>Avez vous des fourmillement ? Montrez moi où</p></td> 

				</tr> 
				<tr> 
				<td><p>Poussez sur mes mains</p></td> 

				</tr> 
				<tr> 
				<td><p>Ouvrez les yeux</p></td> 

				</tr> 
				<tr> 
				<td><p>Ouvrez la bouche</p></td> 

				</tr> 
				<tr> 
				<td><p>Levez le bras droit</p></td> 

				</tr> 
				<tr> 
				<td><p>Avez-vous des douleurs à la tête ?</p></td> 

				</tr> 
				<tr> 
				<td><p>La douleur est apparue :</p></td> 

				</tr> 
				<tr> 
				<td><p>Progressivement</p></td> 

				</tr> 
				<tr> 
				<td><p>Brutalement</p></td> 

				</tr> 
				<tr> 
				<td><p>Avez vous des douleurs dans la nuque ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Avez-vous voyagez ces derniers mois ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Dans quel pays ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Est ce que la lumière vous dérange ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Est ce que le bruit vous dérange ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Je vais faire une piqûre au bout de votre doigt pour connaître votre taux de sucre</p></td> 

				</tr> 
				</tbody>
				</table>
				<h2 id='PNEUMOLOGIE'>PNEUMOLOGIE</h2>
				<table class='tg'>
				<tbody>
				<tr> 
				<td><p>Je vais poser ma main sur votre ventre pour compter votre respiration, respirez normalement et ne parlez pas pendant ce temps</p></td> 

				</tr> 
				<tr> 
				<td><p>Etes-vous essoufflé ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Prenez une grande inspiration puis bloquez votre respiration</p></td> 

				</tr> 
				<tr> 
				<td><p>Respirez normalement</p></td> 

				</tr> 
				<tr> 
				<td><p>Respirez profondément</p></td> 

				</tr> 
				<tr> 
				<td><p>Fumez-vous ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Etes-vous asthmatique ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Avez vous pris votre traitement contre l’asthme ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Avez-vous respiré des fumées ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Je vous laisse vous moucher, pour savoir s’il y a des traces de suie</p></td> 

				</tr> 
				</tbody>
				</table>
				<h2 id='CARDIOLOGIE'>CARDIOLOGIE</h2>
				<table class='tg'>
				<tbody>
				<tr> 
				<td><p>Est-ce que votre douleur :</p></td> 

				</tr> 
				<tr> 
				<td><p>Serre</p></td> 

				</tr> 
				<tr> 
				<td><p>Pique</p></td> 

				</tr> 
				<tr> 
				<td><p>Brûle</p></td> 

				</tr> 
				<tr> 
				<td><p>Est-ce que votre douleur irradie ? Montrez-moi vers où ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Depuis combien de temps avez vous cette douleur ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Minutes</p></td> 

				</tr> 
				<tr> 
				<td><p>Heures</p></td> 

				</tr> 
				<tr> 
				<td><p>Jours</p></td> 

				</tr> 
				<tr> 
				<td><p>Je vais prendre votre pouls</p></td> 

				</tr> 
				<tr> 
				<td><p>Je vais appuyer doucement sur votre ongle</p></td> 

				</tr> 
				<tr> 
				<td><p>Je vais prendre votre pression artérielle</p></td> 

				</tr> 
				<tr> 
				<td><p>Ressentez-vous des palpitations ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Ouvrez la bouche et soulevez la langue, je vais vous donner un traitement</p></td> 

				</tr> 
				<tr> 
				<td><p>Est ce que ce médicament soulage votre douleur ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Buvez-vous de l'alcool ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Avez-vous du diabète ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Avez-vous du cholestérol ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Je vais faire un enregistrement de votre coeur, ce n’est pas douloureux, ne bouger pas pendant quelques secondes</p></td> 

				</tr> 
				</tbody>
				</table>
				<h2 id='MALAISE'>MALAISE</h2>
				<table class='tg'>
				<tbody>
				<tr> 
				<td><p>Avez-vous senti votre malaise arriver ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Qu’avez-vous ressenti pendant la malaise ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Fourmillement</p></td> 

				</tr> 
				<tr> 
				<td><p>Vertige</p></td> 

				</tr> 
				<tr> 
				<td><p>Grande fatigue</p></td> 

				</tr> 
				<tr> 
				<td><p>Avez vous des vertiges ?</p></td> 

				</tr> 
				<tr> 
				<td><p>La douleur irradie-t-elle ? Vers ou ?</p></td> 

				</tr> 
				<tr> 
				<td><p>A quel endroit avez-vous ressenti ces signes ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Combien de temps à durer votre malaise ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Avez-vous perdu vos urines ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Vous êtes-vous mordu la langue ? Ouvrez la bouche</p></td> 

				</tr> 
				<tr> 
				<td><p>Avez vous convulsé ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Avez-vous mangé aujourd’hui ?</p></td> 

				</tr> 
				</tbody>
				</table>
				<h2 id='DIGESTIF'>DIGESTIF</h2>
				<table class='tg'>
				<tbody>
				<tr> 
				<td><p>Montrez moi ou vous avez mal</p></td> 

				</tr> 
				<tr> 
				<td><p>Est ce que la douleur irradie, si oui montrez moi vers où</p></td> 

				</tr> 
				<tr> 
				<td><p>Avez-vous perdu du poids ces derniers mois ? Combien de Kg ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Avez-vous des brûlures quand vous urinez ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Est-ce qu’il y a du sang dans vos urines ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Quelle est la date de vos dernières règles ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Etes vous enceinte ?</p></td> 

				</tr> 
				<tr> 
				<td><p>A quelle heure avez-vous uriné pour la dernière fois aujourd’hui ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Êtes vous constipé ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Depuis combien de jours ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Avez-vous des nausées ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Avez-vous des diarrhées ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Avez-vous vomi ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Y a-t-il du sang dans vos selles ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Avez-vous des gazs ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Je dois vous faire un toucher rectal, êtes vous d’accord ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Il faudra uriner dans ce pot pour réaliser un examen</p></td> 

				</tr> 
				<tr> 
				<td><p>Il faudra réaliser une toilette intime avant d’uriner dans le pot</p></td> 

				</tr> 
				</tbody>
				</table>
				<h2 id='INFECTIEUX'>INFECTIEUX</h2>
				<table class='tg'>
				<tbody>
				<tr> 
				<td><p>Avez-vous été piqué ou mordu ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Montrez moi à quel endroit</p></td> 

				</tr> 
				<tr> 
				<td><p>Montrez moi où étaient les premiers boutons</p></td> 

				</tr> 
				<tr> 
				<td><p>Depuis combien de temps la jambe est-elle rouge ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Est ce que ça vous démange ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Il faut rester en isolement</p></td> 

				</tr> 
				<tr> 
				<td><p>Vous devez garder ce masque sur vous</p></td> 

				</tr> 
				<tr> 
				<td><p>Avez-vous eu des rapports sexuels non protégés ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Je vais prendre votre température</p></td> 

				</tr> 
				</tbody>
				</table>
				<h2 id='OPHTALMOLOGIE'>OPHTALMOLOGIE</h2>
				<table class='tg'>
				<tbody>
				<tr> 
				<td><p>Est-ce que vous voyez flou ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Est-ce que vous voyez double ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Avez-vous mal à la tête ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Est ce que vous avez l’impression que la pièce tourne autour de vous ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Avez-vous reçu un coup à la tête récemment ?</p></td> 

				</tr> 
				</tbody>
				</table>
				<h2 id='ANTÉCÉDENTS'>ANTÉCÉDENTS</h2>
				<table class='tg'>
				<tbody>
				<tr> 
				<td><p>Avez-vous des maladies (diabète, hypertension) ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Avez-vous été hospitalisé récemment ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Avez-vous un traitement en cours ? (lequel ?)</p></td> 

				</tr> 
				<tr> 
				<td><p>Avez-vous une ordonnance avec vos traitements ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Avez-vous des allergies ? (lesquelles ?)</p></td> 

				</tr> 
				<tr> 
				<td><p>Y a-t-il des antécédents de maladie dans votre famille ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Pouvez-vous vous asseoir ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Pouvez-vous vous lever ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Pouvez-vous marcher ?</p></td> 

				</tr> 
				</tbody>
				</table>
				<h2 id='PEDIATRIE'>PEDIATRIE</h2>
				<table class='tg'>
				<tbody>
				<tr> 
				<td><p>Le bébé a t il perdu du poids ? Combien de kilo ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Est-ce que le bébé est à jour de ces vaccins ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Est-ce que ses frères et soeurs sont malades ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Est-ce qu’il mange bien ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Est-ce qu’il vomi ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Est-ce qu’il semble plus agité que d’habitude ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Est-ce qu’il semble plus fatigué que d’habitude ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Est ce qu’il a la diarrhée ?</p></td> 

				</tr> 
				</tbody>
				</table>
				<h2 id='GYNECOLOGIE'>GYNECOLOGIE</h2>
				<table class='tg'>
				<tbody>
				<tr> 
				<td><p>Etes vous enceinte ?</p></td> 

				</tr> 
				<tr> 
				<td><p>De combien de semaines ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Avez vous vos règles ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Avez vous perdu du sang ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Vos pertes étaient elles rouge ou noir ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Avez vous eu des problèmes lors de vos précédentes grossesse ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Avez vous des contractions ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Avez vous perdu les eaux ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Sentez vous le bébé bouger ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Avez vous une contraception ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Je dois faire un examen gynécologique, allongez vous sur la table</p></td> 

				</tr> 
				<tr> 
				<td><p>Il faut retirer vos sous-vêtements</p></td> 

				</tr> 
				</tbody>
				</table>
				<h2 id='TRAUMATOLOGIE'>TRAUMATOLOGIE</h2>
				<table class='tg'>
				<tbody>
				<tr> 
				<td><p>Avez-vous été éjecté du véhicule ?</p></td> 

				</tr> 
				<tr> 
				<td><p>A quelle vitesse rouliez-vous ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Etiez-vous casqué ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Aviez-vous votre ceinture de sécurité ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Avez vous fait une chute ?</p></td> 

				</tr> 
				<tr> 
				<td><p>De quelle hauteur êtes-vous tombé ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Prenez vous des anticoagulants, des médicaments pour fluidifier le sang ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Je vais installer une collier afin de protéger votre colonne vertébrale</p></td> 

				</tr> 
				<tr> 
				<td><p>Je dois mettre un antiseptique sur la plaie</p></td> 

				</tr> 
				<tr> 
				<td><p>Je dois suturer la plaie</p></td> 

				</tr> 
				<tr> 
				<td><p>Je dois faire un pansement</p></td> 

				</tr> 
				<tr> 
				<td><p>Je vais faire une anesthésie autour de la plaie</p></td> 

				</tr> 
				<tr> 
				<td><p>Ne bougez pas</p></td> 

				</tr> 
				<tr> 
				<td><p>Je dois vous faire un plâtre</p></td> 

				</tr> 
				<tr> 
				<td><p>Vous devez être opéré</p></td> 

				</tr> 
				</tbody>
				</table>
				<h2 id='EXAMENS'>EXAMENS</h2>
				<table class='tg'>
				<tbody>
				<tr> 
				<td><p>Vous devez avoir :</p></td> 

				</tr> 
				<tr> 
				<td><p>Je vais vous faire :</p></td> 

				</tr> 
				<tr> 
				<td><p>une perfusion</p></td> 

				</tr> 
				<tr> 
				<td><p>une prise de sang</p></td> 

				</tr> 
				<tr> 
				<td><p>un pansement</p></td> 

				</tr> 
				<tr> 
				<td><p>une piqûre</p></td> 

				</tr> 
				<tr> 
				<td><p>votre toilette</p></td> 

				</tr> 
				<tr> 
				<td><p>un scanner</p></td> 

				</tr> 
				<tr> 
				<td><p>une radiographie</p></td> 

				</tr> 
				<tr> 
				<td><p>un plâtre</p></td> 

				</tr> 
				<tr> 
				<td><p>une échographie</p></td> 

				</tr> 
				<tr> 
				<td><p>une opération</p></td> 

				</tr> 
				<tr> 
				<td><p>Aujourd'hui</p></td> 

				</tr> 
				<tr> 
				<td><p>Demain</p></td> 

				</tr> 
				<tr> 
				<td><p>Vous devez prendre une douche avec un shampoing avant l'opération</p></td> 

				</tr> 
				<tr> 
				<td><p>L’examen n’est pas douloureux</p></td> 

				</tr> 
				<tr> 
				<td><p>Après l'opération vous aurez :</p></td> 

				</tr> 
				<tr> 
				<td><p>Une sonde urinaire</p></td> 

				</tr> 
				<tr> 
				<td><p>Une sonde gastrique</p></td> 

				</tr> 
				<tr> 
				<td><p>Un drain</p></td> 

				</tr> 
				<tr> 
				<td><p>Une cicatrice</p></td> 

				</tr> 
				<tr> 
				<td><p>Vous devez retier tous vos bijoux et piercing</p></td> 

				</tr> 
				<tr> 
				<td><p>Vous devez retier votre vernis a ongles</p></td> 

				</tr> 
				<tr> 
				<td><p>Vous devez retier vos appareils dentaires et auditifs</p></td> 

				</tr> 
				<tr> 
				<td><p>Dites nous si vous avez :</p></td> 

				</tr> 
				<tr> 
				<td><p>Un pace-maker</p></td> 

				</tr> 
				<tr> 
				<td><p>Une valve cardiaque</p></td> 

				</tr> 
				<tr> 
				<td><p>Un stent</p></td> 

				</tr> 
				<tr> 
				<td><p>Une prothèse</p></td> 

				</tr> 
				</tbody>
				</table>
				<h2 id='TRAITEMENTS et CONSIGNES'>TRAITEMENTS et CONSIGNES</h2>
				<table class='tg'>
				<tbody>
				<tr> 
				<td><p>Je vous donne :</p></td> 

				</tr> 
				<tr> 
				<td><p>des médicaments</p></td> 

				</tr> 
				<tr> 
				<td><p>des antalgiques</p></td> 

				</tr> 
				<tr> 
				<td><p>des antibiotiques</p></td> 

				</tr> 
				<tr> 
				<td><p>Vous ne devez pas boire</p></td> 

				</tr> 
				<tr> 
				<td><p>Vous ne devez pas manger</p></td> 

				</tr> 
				<tr> 
				<td><p>Vous ne devez pas vous lever</p></td> 

				</tr> 
				<tr> 
				<td><p>Vous devez rester sur le dos</p></td> 

				</tr> 
				<tr> 
				<td><p>Vous ne devez pas fumer</p></td> 

				</tr> 
				<tr> 
				<td><p>Pour nous appeler appuyer ici</p></td> 

				</tr> 
				<tr> 
				<td><p>Pour allumer ou éteindre les lumières appuyer ici</p></td> 

				</tr> 
				<tr> 
				<td><p>Les toilettes sont ici</p></td> 

				</tr> 
				<tr> 
				<td><p>La salle de bain est ici</p></td> 

				</tr> 
				<tr> 
				<td><p>Votre chambre est ici</p></td> 

				</tr> 
				</tbody>
				</table>
				<h2 id='CONCLUSION'>CONCLUSION</h2>
				<table class='tg'>
				<tbody>
				<tr> 
				<td><p>Il y a une fracture</p></td> 

				</tr> 
				<tr> 
				<td><p>Il n’y a pas de fracture</p></td> 

				</tr> 
				<tr> 
				<td><p>Vous devez être opéré</p></td> 

				</tr> 
				<tr> 
				<td><p>Vous devez revenir demain matin</p></td> 

				</tr> 
				<tr> 
				<td><p>Vous devez revenir dans :</p></td> 

				</tr> 
				<tr> 
				<td><p>Vous devrez faire retirer les fils dans :</p></td> 

				</tr> 
				<tr> 
				<td><p>Vous devez avoir un plâtre</p></td> 

				</tr> 
				<tr> 
				<td><p>Vous devrez porter une attelle</p></td> 

				</tr> 
				<tr> 
				<td><p>Vous pouvez rentrer chez vous</p></td> 

				</tr> 
				<tr> 
				<td><p>Vous devez aller à l'hôpital</p></td> 

				</tr> 
				<tr> 
				<td><p>Vous devez rester à l'hôpital</p></td> 

				</tr> 
				<tr> 
				<td><p>Vous allez être transféré dans un autre service</p></td> 

				</tr> 
				</tbody>
				</table>
				<h2 id='PATIENT EN STRUCTURE'>PATIENT EN STRUCTURE</h2>
				<table class='tg'>
				<tbody>
				<tr> 
				<td><p>J’ai faim</p></td> 

				</tr> 
				<tr> 
				<td><p>j’ai soif</p></td> 

				</tr> 
				<tr> 
				<td><p>j’ai mal</p></td> 

				</tr> 
				<tr> 
				<td><p>j’ai froid</p></td> 

				</tr> 
				<tr> 
				<td><p>j’ai chaud</p></td> 

				</tr> 
				<tr> 
				<td><p>j’ai des nausées</p></td> 

				</tr> 
				<tr> 
				<td><p>j’ai vomi</p></td> 

				</tr> 
				<tr> 
				<td><p>j’ai uriné (je voudrais être changé)</p></td> 

				</tr> 
				<tr> 
				<td><p>je voudrais uriner</p></td> 

				</tr> 
				<tr> 
				<td><p>je voudrais déféquer</p></td> 

				</tr> 
				<tr> 
				<td><p>j’ai des vertiges</p></td> 

				</tr> 
				<tr> 
				<td><p>j’ai peur</p></td> 

				</tr> 
				<tr> 
				<td><p>je voudrais être réinstallé</p></td> 

				</tr> 
				<tr> 
				<td><p>je voudrais des informations</p></td> 

				</tr> 
				<tr> 
				<td><p>J’ai eu un accident</p></td> 

				</tr> 
				<tr> 
				<td><p>J’étais piéton</p></td> 

				</tr> 
				<tr> 
				<td><p>J’ai été renversé</p></td> 

				</tr> 
				<tr> 
				<td><p>Je n’ai pas été renversé</p></td> 

				</tr> 
				<tr> 
				<td><p>Je suis tombé</p></td> 

				</tr> 
				<tr> 
				<td><p>J’ai reçu un coup</p></td> 

				</tr> 
				<tr> 
				<td><p>J’étais en voiture</p></td> 

				</tr> 
				<tr> 
				<td><p>Je roulais à “x” km/h</p></td> 

				</tr> 
				<tr> 
				<td><p>J’avais ma ceinture de sécurité</p></td> 

				</tr> 
				<tr> 
				<td><p>Je n’avais pas de ceinture de sécurité</p></td> 

				</tr> 
				<tr> 
				<td><p>J’ai été éjecté pendant l’accident</p></td> 

				</tr> 
				<tr> 
				<td><p>Je n’ai pas été éjecté pendant l’accident</p></td> 

				</tr> 
				<tr> 
				<td><p>L’air-bag s’est déclenché</p></td> 

				</tr> 
				<tr> 
				<td><p>L’air-bag ne s’est pas déclenché</p></td> 

				</tr> 
				<tr> 
				<td><p>J’étais en vélo</p></td> 

				</tr> 
				<tr> 
				<td><p>J'étais en scooter</p></td> 

				</tr> 
				<tr> 
				<td><p>J'étais en moto</p></td> 

				</tr> 
				<tr> 
				<td><p>Je roulais à “x” km/h</p></td> 

				</tr> 
				<tr> 
				<td><p>J’avais un casque</p></td> 

				</tr> 
				<tr> 
				<td><p>Je n’avais pas de casque</p></td> 

				</tr> 
				<tr> 
				<td><p>Je suis tombé</p></td> 

				</tr> 
				<tr> 
				<td><p>Je suis tombé de ma hauteur</p></td> 

				</tr> 
				<tr> 
				<td><p>Je suis tombé de “x” mètres de haut</p></td> 

				</tr> 
				<tr> 
				<td><p>Ma tête a tapé pendant l’accident</p></td> 

				</tr> 
				<tr> 
				<td><p>Ma tête n’a pas tapé pendant l’accident</p></td> 

				</tr> 
				<tr> 
				<td><p>J’ai des douleurs :</p></td> 

				</tr> 
				<tr> 
				<td><p>à la tête</p></td> 

				</tr> 
				<tr> 
				<td><p>au cou</p></td> 

				</tr> 
				<tr> 
				<td><p>au dos</p></td> 

				</tr> 
				<tr> 
				<td><p>au bras</p></td> 

				</tr> 
				<tr> 
				<td><p>à la jambe</p></td> 

				</tr> 
				<tr> 
				<td><p>au torse</p></td> 

				</tr> 
				<tr> 
				<td><p>au ventre</p></td> 

				</tr> 
				<tr> 
				<td><p>Je prend des anticoagulants (médicaments pour fluidifier le sang)</p></td> 

				</tr> 
				<tr> 
				<td><p>Je ne prend pas d’anticoagulants (médicaments pour fluidifier le sang)</p></td> 

				</tr> 
				<tr> 
				<td><p>Tête</p></td> 

				</tr> 
				<tr> 
				<td><p>J’ai des douleurs depuis :</p></td> 

				</tr> 
				<tr> 
				<td><p>La douleur est apparue :</p></td> 

				</tr> 
				<tr> 
				<td><p>Brutalement</p></td> 

				</tr> 
				<tr> 
				<td><p>Progressivement</p></td> 

				</tr> 
				<tr> 
				<td><p>J’arrive bien à bouger mes bras et jambes</p></td> 

				</tr> 
				<tr> 
				<td><p>Je n’arrive pas a bouger un bras ou une jambe</p></td> 

				</tr> 
				<tr> 
				<td><p>J’arrive bien à parler</p></td> 

				</tr> 
				<tr> 
				<td><p>J’ai des difficultés à parler</p></td> 

				</tr> 
				<tr> 
				<td><p>La lumière me dérange</p></td> 

				</tr> 
				<tr> 
				<td><p>La lumière ne me dérange pas</p></td> 

				</tr> 
				<tr> 
				<td><p>J’ai de la fièvre</p></td> 

				</tr> 
				<tr> 
				<td><p>Je n’ai pas de fièvre</p></td> 

				</tr> 
				<tr> 
				<td><p>J’ai des douleurs à la nuque</p></td> 

				</tr> 
				<tr> 
				<td><p>Je n’ai pas de douleurs à la nuque</p></td> 

				</tr> 
				<tr> 
				<td><p>J’ai fais un malaise</p></td> 

				</tr> 
				<tr> 
				<td><p>Je n’ai pas fais de malaise</p></td> 

				</tr> 
				<tr> 
				<td><p>J’ai perdu connaissance</p></td> 

				</tr> 
				<tr> 
				<td><p>Je n’ai pas perdu connaissance</p></td> 

				</tr> 
				<tr> 
				<td><p>J’ai perdu mes urines</p></td> 

				</tr> 
				<tr> 
				<td><p>Je n’ai pas perdu mes urines</p></td> 

				</tr> 
				<tr> 
				<td><p>J’ai convulsé</p></td> 

				</tr> 
				<tr> 
				<td><p>Je n’ai pas convulsé</p></td> 

				</tr> 
				<tr> 
				<td><p>Je suis épileptique</p></td> 

				</tr> 
				<tr> 
				<td><p>Je ne suis pas épileptique</p></td> 

				</tr> 
				<tr> 
				<td><p>J’ai pris mes traitements aujourd’hui</p></td> 

				</tr> 
				<tr> 
				<td><p>Je n’ai pas prit mes traitements aujourd’hui</p></td> 

				</tr> 
				<tr> 
				<td><p>J’ai des vertiges</p></td> 

				</tr> 
				<tr> 
				<td><p>Je n’ai pas de vertiges</p></td> 

				</tr> 
				<tr> 
				<td><p>Je suis diabétique</p></td> 

				</tr> 
				<tr> 
				<td><p>Je ne suis pas diabétique</p></td> 

				</tr> 
				<tr> 
				<td><p>J’ai mangé aujourd’hui</p></td> 

				</tr> 
				<tr> 
				<td><p>Je n’ai pas mangé aujourd’hui</p></td> 

				</tr> 
				<tr> 
				<td><p>Torse</p></td> 

				</tr> 
				<tr> 
				<td><p>J’ai eu un choc au torse récemment</p></td> 

				</tr> 
				<tr> 
				<td><p>Je n’ai pas eu de choc au torse récemment</p></td> 

				</tr> 
				<tr> 
				<td><p>La douleur est encore présente</p></td> 

				</tr> 
				<tr> 
				<td><p>La douleur n’est plus présente</p></td> 

				</tr> 
				<tr> 
				<td><p>La douleur :</p></td> 

				</tr> 
				<tr> 
				<td><p>Pique</p></td> 

				</tr> 
				<tr> 
				<td><p>Serre</p></td> 

				</tr> 
				<tr> 
				<td><p>Brûle</p></td> 

				</tr> 
				<tr> 
				<td><p>La douleur irradie vers :</p></td> 

				</tr> 
				<tr> 
				<td><p>Machoire</p></td> 

				</tr> 
				<tr> 
				<td><p>Je ressent des palpitations</p></td> 

				</tr> 
				<tr> 
				<td><p>Je ne ressent pas de palpitations</p></td> 

				</tr> 
				<tr> 
				<td><p>Dans ma famille il y a des problèmes cardiaques</p></td> 

				</tr> 
				<tr> 
				<td><p>Dans ma famille il n’y a pas de problème cardiaque</p></td> 

				</tr> 
				<tr> 
				<td><p>La douleur est plus forte quand je respire</p></td> 

				</tr> 
				<tr> 
				<td><p>La douleur n’est pas plus forte quand je respire</p></td> 

				</tr> 
				<tr> 
				<td><p>Je crache du sang</p></td> 

				</tr> 
				<tr> 
				<td><p>Je ne crache pas du sang</p></td> 

				</tr> 
				<tr> 
				<td><p>Je tousse</p></td> 

				</tr> 
				<tr> 
				<td><p>Je ne tousse pas</p></td> 

				</tr> 
				<tr> 
				<td><p>J’ai des difficultés à respirer</p></td> 

				</tr> 
				<tr> 
				<td><p>Je n’ai pas de difficultés à respirer</p></td> 

				</tr> 
				<tr> 
				<td><p>J’ai respiré des fumées</p></td> 

				</tr> 
				<tr> 
				<td><p>Je fume</p></td> 

				</tr> 
				<tr> 
				<td><p>Je ne fume pas</p></td> 

				</tr> 
				<tr> 
				<td><p>Je bois de l’alcool</p></td> 

				</tr> 
				<tr> 
				<td><p>Je ne bois pas d’alcool</p></td> 

				</tr> 
				<tr> 
				<td><p>J’ai du cholestérol</p></td> 

				</tr> 
				<tr> 
				<td><p>Je n’ai pas de cholestérol</p></td> 

				</tr> 
				<tr> 
				<td><p>Je suis asthmatique</p></td> 

				</tr> 
				<tr> 
				<td><p>Je ne suis pas asthmatique</p></td> 

				</tr> 
				<tr> 
				<td><p>Ventre</p></td> 

				</tr> 
				<tr> 
				<td><p>J'ai des nausées</p></td> 

				</tr> 
				<tr> 
				<td><p>Je n'ai pas de nausées</p></td> 

				</tr> 
				<tr> 
				<td><p>J’ai vomi</p></td> 

				</tr> 
				<tr> 
				<td><p>Je n’ai pas vomi</p></td> 

				</tr> 
				<tr> 
				<td><p>Des aliments</p></td> 

				</tr> 
				<tr> 
				<td><p>Du sang</p></td> 

				</tr> 
				<tr> 
				<td><p>1 fois</p></td> 

				</tr> 
				<tr> 
				<td><p>2 fois</p></td> 

				</tr> 
				<tr> 
				<td><p>Plusieurs fois</p></td> 

				</tr> 
				<tr> 
				<td><p>J’ai des diarrhées</p></td> 

				</tr> 
				<tr> 
				<td><p>Je n’ai pas de diarrhées</p></td> 

				</tr> 
				<tr> 
				<td><p>J’ai des gazs</p></td> 

				</tr> 
				<tr> 
				<td><p>Je n’ai plus de gazs</p></td> 

				</tr> 
				<tr> 
				<td><p>Mes dernières urines étaient il y a :</p></td> 

				</tr> 
				<tr> 
				<td><p>Il y avait du sang dans mes urines</p></td> 

				</tr> 
				<tr> 
				<td><p>Il n’y avait pas de sang dans mes urines</p></td> 

				</tr> 
				<tr> 
				<td><p>J’ai des brulures quand j’urine</p></td> 

				</tr> 
				<tr> 
				<td><p>Je n’ai pas de brulures quand j’urine</p></td> 

				</tr> 
				<tr> 
				<td><p>Mes dernières selles étaient il y a :</p></td> 

				</tr> 
				<tr> 
				<td><p>Il y avait du sang dans mes selles</p></td> 

				</tr> 
				<tr> 
				<td><p>Il n’y avait pas de sang dans mes selles</p></td> 

				</tr> 
				<tr> 
				<td><p>Mes dernières règles étaient il y a :</p></td> 

				</tr> 
				<tr> 
				<td><p>Je suis enceinte</p></td> 

				</tr> 
				<tr> 
				<td><p>Je ne suis pas enceinte</p></td> 

				</tr> 
				<tr> 
				<td><p>Depuis “x” semaines</p></td> 

				</tr> 
				<tr> 
				<td><p>J’ai eu des pertes par voie basse</p></td> 

				</tr> 
				<tr> 
				<td><p>Je n’ai pas eu de perte par voie basse</p></td> 

				</tr> 
				<tr> 
				<td><p>Mes pertes étaient :</p></td> 

				</tr> 
				<tr> 
				<td><p>De couleur rouge</p></td> 

				</tr> 
				<tr> 
				<td><p>De couleur noire</p></td> 

				</tr> 
				<tr> 
				<td><p>J’ai perdu du poids ces derniers temps</p></td> 

				</tr> 
				<tr> 
				<td><p>Je n’ai pas perdu de poids ces derniers temps</p></td> 

				</tr> 
				<tr> 
				<td><p>Dos / Cou</p></td> 

				</tr> 
				<tr> 
				<td><p>Ma douleur n’irradie pas vers la fesse ou la jambe</p></td> 

				</tr> 
				<tr> 
				<td><p>Ma douleur irradie vers la fesse ou la jambe</p></td> 

				</tr> 
				<tr> 
				<td><p>Je n’ai pas le dos bloqué</p></td> 

				</tr> 
				<tr> 
				<td><p>J’ai le dos bloqué</p></td> 

				</tr> 
				<tr> 
				<td><p>J’ai mal surtout le soir</p></td> 

				</tr> 
				<tr> 
				<td><p>J’ai mal surtout le matin</p></td> 

				</tr> 
				<tr> 
				<td><p>Bras</p></td> 

				</tr> 
				<tr> 
				<td><p>Jambe</p></td> 

				</tr> 
				<tr> 
				<td><p>J’ai reçu un coup récemment</p></td> 

				</tr> 
				<tr> 
				<td><p>Je n’ai pas reçu de coup récemment</p></td> 

				</tr> 
				<tr> 
				<td><p>J’ai des douleurs depuis :</p></td> 

				</tr> 
				<tr> 
				<td><p>J’ai été piqué ou mordu récemment</p></td> 

				</tr> 
				<tr> 
				<td><p>Je n’ai pas été piqué ou mordu récemment</p></td> 

				</tr> 
				<tr> 
				<td><p>Ca me démange</p></td> 

				</tr> 
				<tr> 
				<td><p>Ca ne me démange pas</p></td> 

				</tr> 
				<tr> 
				<td><p>Ma douleur est :</p></td> 

				</tr> 
				<tr> 
				<td><p>Faible</p></td> 

				</tr> 
				<tr> 
				<td><p>Moyenne</p></td> 

				</tr> 
				<tr> 
				<td><p>Forte</p></td> 

				</tr> 
				<tr> 
				<td><p>Insupportable</p></td> 

				</tr> 
				<tr> 
				<td><p>Des clips intra-cranien</p></td> 

				</tr> 
				<tr> 
				<td><p>Un implant cochléaire</p></td> 

				</tr> 
				<tr> 
				<td><p>Un implant occulaire</p></td> 

				</tr> 
				<tr> 
				<td><p>Du métal dans le corps</p></td> 

				</tr> 
				<tr> 
				<td><p>Un défibrillateur</p></td> 

				</tr> 
				<tr> 
				<td><p>Une chambre implantable</p></td> 

				</tr> 
				<tr> 
				<td><p>Allaitez-vous ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Où se trouve le médecin le plus proche ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Où se trouve l'hôpital le plus proche ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Où se trouve la pharmacie la plus proche ?</p></td> 

				</tr> 
				<tr> 
				<td><p>J'ai besoin de secours, pouvez-vous les appeler ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Une IRM</p></td> 

				</tr> 
				<tr> 
				<td><p>L'examen est long. Il dure entre 15 et 40 minutes</p></td> 

				</tr> 
				<tr> 
				<td><p>L'examen n'est pas douloureux mais il est très bruyant</p></td> 

				</tr> 
				<tr> 
				<td><p>Il faut rester immobile pendant toute la durée de l'examen</p></td> 

				</tr> 
				<tr> 
				<td><p>Des éclats métalliques dans les yeux?</p></td> 

				</tr> 
				<tr> 
				<td><p>une valve mécanique</p></td> 

				</tr> 
				<tr> 
				<td><p>un capteur de glycémie</p></td> 

				</tr> 
				<tr> 
				<td><p>si oui, avez-vous une carte avec les références du matériel?</p></td> 

				</tr> 
				<tr> 
				<td><p>Quelle est votre taille et votre poids?</p></td> 

				</tr> 
				<tr> 
				<td><p>Durant l'examen, on vous demandera de gonfler et les poumons et de bloquer la respiration</p></td> 

				</tr> 
				<tr> 
				<td><p>Nous allons injecter un produit de contraste qui va vous donner chaud dans tout le corps, c'est normal ne vous inquiétez pas</p></td> 

				</tr> 
				<tr> 
				<td><p>Prenez-vous un traitement pour la thyroïde ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Avez-vous des problèmes rénaux ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Pouvez-vous signer l’autorisation de soins ci-dessous ?</p></td> 

				</tr> 
				<tr> 
				<td><p>Nom :</p></td> 

				</tr> 
				<tr> 
				<td><p>Prénom :</p></td> 

				</tr> 
				<tr> 
				<td><p>Date de naissance :</p></td> 

				</tr> 
				<tr> 
				<td><p>La taille :</p></td> 

				</tr> 
				<tr> 
				<td><p>Poids :</p></td> 

				</tr> 
				<tr> 
				<td><p>Oui</p></td> 

				</tr> 
				<tr> 
				<td><p>Non</p></td> 

				</tr> 
				<tr> 
				<td><p>Je ne sais pas</p></td> 

				</tr> 

					</tbody>
				</table>
			</main>
		</traduction>
		{% endlanguage %}
	</body>
</html>
