{% load i18n %}
{% load static %}
<section>
	{% comment %} 		 	Section todo, #6 create table with most spoken language based on base language country
	<article>
		<h2>Principales langues étrangères</h2>
		<div class="langcontainer">
			<a href="eng/">
				<figure>
					<img class="flag" src="{% static 'translation/flags/eng.png' %}">
					<figcaption>Royaume-Uni</figcaption>
				</figure>
			</a>
			<a href="spa/">
				<figure>
					<img class="flag" src="{% static 'translation/flags/spa.png' %}">
					<figcaption>Espagnol</figcaption>
				</figure>
			</a>
			<a href="deu/">
				<figure>
					<img class="flag" src="{% static 'translation/flags/deu.png' %}">
					<figcaption>Allemagne</figcaption>
				</figure>
			</a>
			<a href="ita/">
				<figure>
					<img class="flag" src="{% static 'translation/flags/ita.png' %}">
					<figcaption>Italie</figcaption>
				</figure>
			</a>
		</div>
	</article> {% endcomment %}
	<article>
		{% for name, continent in continents.items %}
			<h2>{% translate name %}</h2>
			<div class="langcontainer">
				{% if continent %}
					{% for country in continent %}
						{% if country.spoken_languages.count == 1 and country.spoken_languages.all.0.Translated %}
							<a href="/{{ base_language }}/{{ base_flag }}/{{ country.spoken_languages.all.0.langcode }}/{{ country.countrycode }}{{ changetarget }}">
								<figure>
									<img class="flag" src="{% static "translation/flags/"|add:country.countrycode|add:".png" %}">
									<figcaption>{% translate country.Name_fr %}</figcaption>
								</figure>
							</a>
						{% elif country.spoken_languages.count > 1 and country.spoken_languages.all.0.Translated %}
							<a href="/{{ base_language }}/{{ base_flag }}/{{ country.spoken_languages.all.0.langcode }}/{{ country.countrycode }}{{ changetarget }}">
								<figure>
									<img class="flag" src="{% static "translation/flags/"|add:country.countrycode|add:".png" %}">
									<figcaption>{% translate country.Name_fr %}Popup!</figcaption>
								</figure>
							</a>
						{% endif%}
					{% endfor %}
				{% else %}
					<p style="margin: auto">{% translate "Aucune traduction disponible" %}</p>
				{% endif %}
			</div>
		{% endfor %}
	</article>
</section>