{% load i18n %}
{% load static %}
<div class="sidemenu">
	
	<nav>
		<div class="navcontent">
			<ul>
				{% language base_language %}
				<li><button onclick='txtUpDown()' type="button" id="transbutton"><span><i class="fa fa-language fa-2g" aria-hidden="true"></i></span></button></li>
				<li><a class="sidenava" href='#PRESENTATION'><img class="navicon" src="{% get_static_prefix %}translation/flags/{{ target_flag }}.png"><div class="description">{% translate "PRESENTATION" %}</div></a></li>
				<li><a class="sidenava" href='#IDENTITÉ'><img class="navicon" src="{% get_static_prefix %}translation/flags/{{ target_flag }}.png"><div class="description">{% translate "IDENTITÉ" %}</div></a></li>
				<li><a class="sidenava" href='#ATTENTE'><img class="navicon" src="{% get_static_prefix %}translation/flags/{{ target_flag }}.png"><div class="description">{% translate "ATTENTE" %}</div></a></li>
				<li><a class="sidenava" href='#ACCUEIL'><img class="navicon" src="{% get_static_prefix %}translation/flags/{{ target_flag }}.png"><div class="description">{% translate "ACCUEIL" %}</div></a></li>
				<li><a class="sidenava" href='#NEUROLOGIE'><img class="navicon" src="{% get_static_prefix %}translation/flags/{{ target_flag }}.png"><div class="description">{% translate "NEUROLOGIE" %}</div></a></li>
				<li><a class="sidenava" href='#PNEUMOLOGIE'><img class="navicon" src="{% get_static_prefix %}translation/flags/{{ target_flag }}.png"><div class="description">{% translate "PNEUMOLOGIE" %}</div></a></li>
				<li><a class="sidenava" href='#CARDIOLOGIE'><img class="navicon" src="{% get_static_prefix %}translation/flags/{{ target_flag }}.png"><div class="description">{% translate "CARDIOLOGIE" %}</div></a></li>
				<li><a class="sidenava" href='#MALAISE'><img class="navicon" src="{% get_static_prefix %}translation/flags/{{ target_flag }}.png"><div class="description">{% translate "MALAISE" %}</div></a></li>
				<li><a class="sidenava" href='#DIGESTIF'><img class="navicon" src="{% get_static_prefix %}translation/flags/{{ target_flag }}.png"><div class="description">{% translate "DIGESTIF" %}</div></a></li>
				<li><a class="sidenava" href='#INFECTIEUX'><img class="navicon" src="{% get_static_prefix %}translation/flags/{{ target_flag }}.png"><div class="description">{% translate "INFECTIEUX" %}</div></a></li>
				<li><a class="sidenava" href='#OPHTALMOLOGIE'><img class="navicon" src="{% get_static_prefix %}translation/flags/{{ target_flag }}.png"><div class="description">{% translate "OPHTALMOLOGIE" %}</div></a></li>
				<li><a class="sidenava" href='#ANTÉCÉDENTS'><img class="navicon" src="{% get_static_prefix %}translation/flags/{{ target_flag }}.png"><div class="description">{% translate "ANTÉCÉDENTS" %}</div></a></li>
				<li><a class="sidenava" href='#PEDIATRIE'><img class="navicon" src="{% get_static_prefix %}translation/flags/{{ target_flag }}.png"><div class="description">{% translate "PEDIATRIE" %}</div></a></li>
				<li><a class="sidenava" href='#GYNECOLOGIE'><img class="navicon" src="{% get_static_prefix %}translation/flags/{{ target_flag }}.png"><div class="description">{% translate "GYNECOLOGIE" %}</div></a></li>
				<li><a class="sidenava" href='#TRAUMATOLOGIE'><img class="navicon" src="{% get_static_prefix %}translation/flags/{{ target_flag }}.png"><div class="description">{% translate "TRAUMATOLOGIE" %}</div></a></li>
				<li><a class="sidenava" href='#EXAMENS'><img class="navicon" src="{% get_static_prefix %}translation/flags/{{ target_flag }}.png"><div class="description">{% translate "EXAMENS" %}</div></a></li>
				<li><a class="sidenava" href='#TRAITEMENTS et CONSIGNES'><img class="navicon" src="{% get_static_prefix %}translation/flags/{{ target_flag }}.png"><div class="description">{% translate "TRAITEMENTS et CONSIGNES" %}</div></a></li>
				<li><a class="sidenava" href='#CONCLUSION'><img class="navicon" src="{% get_static_prefix %}translation/flags/{{ target_flag }}.png"><div class="description">{% translate "CONCLUSION" %}</div></a></li>
				<li><a class="sidenava" href='#PATIENT EN STRUCTURE'><img class="navicon" src="{% get_static_prefix %}translation/flags/{{ target_flag }}.png"><div class="description">{% translate "PATIENT EN STRUCTURE" %}</div></a></li>
				{% endlanguage %}
			</ul>
		</div>
	</nav>
</div>