@page {
    size: A4 portrait;
    margin: 1cm;
}

.A4 {
    height: 275mm;
    width: 188mm;
    overflow: hidden;
    
    
     
       }

:root {
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1.1rem;
}

.smallflag {
    width: 2.6cm;
    height: 1.5cm;
}

h1 {
    width: 50%;
}



#header {
    width: 700px;
    height: 30px;
    white-space: nowrap;
    overflow: clip;
    padding-bottom: 5px;
   
   
}

#titlecontainer {
    display: inline-block;
    width: 60%;
    line-height: 30px;
    font-size: 30px;
    
    
}

#flagarrow {
    display: inline-block;
    width: 2cm;
    text-align: center;
    vertical-align: top;
}

#flagcontainer {
    display: inline-block;
    width: 4cm;

}

.fond {
    opacity:0.4;
    
}

.textwrapper {
    line-height: 15px;
}



.circle{
    margin:10px;
    width:100px;
    height:100px;
    border-radius:100%;
    background-color:transparent;
    text-align:center;
    font-size:20px;
    overflow:visible;
}

.circle.multi-line1{    
position: absolute;
    top: 50mm;
  left: 63mm;
padding-top:5px;
margin-top:5px;
height:100px;
    line-height: 105%;
transform: rotate(-20deg);
-moz-transform: rotate(-20deg);
-webkit-transform: rotate(-20deg);
-khtml-transform: rotate(-20deg);
-ms-transform: rotate(-20deg);
}

.circle.multi-line2{    
position: absolute;
    top: 65mm;
  left: 35mm;
padding-top:5px;
    margin-top:10px;
height:100px;
    line-height: 105%;
transform: rotate(20deg);
-moz-transform: rotate(20deg);
-webkit-transform: rotate(20deg);
-khtml-transform: rotate(20deg);
-ms-transform: rotate(20deg);
}

.circle.multi-line3{    
position: absolute;
    top: 87mm;
  left: 37mm;
  margin-top:15px;
padding-top:5px;
height:100px;
    line-height: 105%;
transform: rotate(-20deg);
-moz-transform: rotate(-20deg);
-webkit-transform: rotate(-20deg);
-khtml-transform: rotate(-20deg);
-ms-transform: rotate(-20deg);
}

.circle.multi-line4{    
position: absolute;
    top: 97mm;
  left: 58mm;
padding-top:5px;
height:100px;
    line-height: 105%;
transform: rotate(0deg);
-moz-transform: rotate(0deg);
-webkit-transform: rotate(0deg);
-khtml-transform: rotate(0deg);
-ms-transform: rotate(0deg);
}

.circle.multi-line5{    
position: absolute;
  top: 135mm;
  left: 115mm;
padding-top:5px;
height:100px;
    line-height: 105%;
transform: rotate(0deg);
-moz-transform: rotate(0deg);
-webkit-transform: rotate(0deg);
-khtml-transform: rotate(0deg);
-ms-transform: rotate(0deg);
}

.circle.multi-line6{    
position: absolute;
    top: 128mm;
  left: 85mm;
padding-top:5px;
height:100px;
    width:200px;
    line-height: 105%;
transform: rotate(-20deg);
-moz-transform: rotate(-20deg);
-webkit-transform: rotate(-20deg);
-khtml-transform: rotate(-20deg);
-ms-transform: rotate(-20deg);
}

.circle.multi-line7{    
position: absolute;
    top: 170mm;
  left: -10mm;
padding-top:5px;
height:100px;
    width:300px;
    line-height: 105%;
transform: rotate(40deg);
-moz-transform: rotate(40deg);
-webkit-transform: rotate(40deg);
-khtml-transform: rotate(40deg);
-ms-transform: rotate(40deg);
}

.circle.multi-line8{    
position: absolute;
    top: 70mm;
  left: 70mm;
padding-top:5px;
height:100px;
    width:200px;
    line-height: 105%;
transform: rotate(-10deg);
-moz-transform: rotate(-10deg);
-webkit-transform: rotate(-10deg);
-khtml-transform: rotate(-10deg);
-ms-transform: rotate(-10deg);
}



.circle.multi-line11{    
position: absolute;
    top: 115mm;
  left: 135mm;
padding-top:5px;
height:100px;
    width:200px;
    line-height: 105%;
transform: rotate(10deg);
-moz-transform: rotate(10deg);
-webkit-transform: rotate(10deg);
-khtml-transform: rotate(10deg);
-ms-transform: rotate(10deg);
}

.circle.multi-line12{    
position: absolute;
    top: 97mm;
  left: 130mm;
padding-top:5px;
height:100px;
    line-height: 105%;
transform: rotate(-20deg);
-moz-transform: rotate(-20deg);
-webkit-transform: rotate(-20deg);
-khtml-transform: rotate(-20deg);
-ms-transform: rotate(-20deg);
}

.circle.multi-line13{    
position: absolute;
    top: 105mm;
  left: 100mm;
padding-top:5px;
height:100px;
    line-height: 105%;
transform: rotate(20deg);
-moz-transform: rotate(20deg);
-webkit-transform: rotate(20deg);
-khtml-transform: rotate(20deg);
-ms-transform: rotate(20deg);
}

.circle.multi-line14{    
position: absolute;
    top: 220mm;
  left: 100mm;
padding-top:5px;
height:100px;
    width:300px;
transform: rotate(-40deg);
-moz-transform: rotate(-40deg);
-webkit-transform: rotate(-40deg);
-khtml-transform: rotate(-40deg);
-ms-transform: rotate(-40deg);
}

.circle.multi-line16{    
position: absolute;
    top: 215mm;
  left: 78mm;
padding-top:5px;
height:100px;
    line-height: 105%;
transform: rotate(-20deg);
-moz-transform: rotate(-20deg);
-webkit-transform: rotate(-20deg);
-khtml-transform: rotate(-20deg);
-ms-transform: rotate(-20deg);
}


.circle.multi-line17{    
position: absolute;
    top: 205mm;
  left: 85mm;
padding-top:5px;
height:100px;
    line-height: 105%;
transform: rotate(-20deg);
-moz-transform: rotate(-20deg);
-webkit-transform: rotate(-20deg);
-khtml-transform: rotate(-20deg);
-ms-transform: rotate(-20deg);
}


.circle.multi-line18{    
position: absolute;
    top: 195mm;
  left: 92mm;
padding-top:5px;
height:100px;
    line-height: 105%;
transform: rotate(-20deg);
-moz-transform: rotate(-20deg);
-webkit-transform: rotate(-20deg);
-khtml-transform: rotate(-20deg);
-ms-transform: rotate(-20deg);
}


.circle.multi-line19{    
position: absolute;
    top: 190mm;
  left: 100mm;
padding-top:5px;
height:100px;
    line-height: 105%;
transform: rotate(-20deg);
-moz-transform: rotate(-20deg);
-webkit-transform: rotate(-20deg);
-khtml-transform: rotate(-20deg);
-ms-transform: rotate(-20deg);
}


.circle.multi-line20{    
position: absolute;
    top: 185mm;
  left: 110mm;
padding-top:5px;
height:100px;
    line-height: 105%;
transform: rotate(-20deg);
-moz-transform: rotate(-20deg);
-webkit-transform: rotate(-20deg);
-khtml-transform: rotate(-20deg);
-ms-transform: rotate(-20deg);
}


.circle.multi-line21{    
position: absolute;
    top: 175mm;
  left: 115mm;
padding-top:5px;
height:100px;
    line-height: 105%;
transform: rotate(-20deg);
-moz-transform: rotate(-20deg);
-webkit-transform: rotate(-20deg);
-khtml-transform: rotate(-20deg);
-ms-transform: rotate(-20deg);
}


.circle.multi-line22{    
position: absolute;
    top: 170mm;
  left: 122mm;
padding-top:5px;
height:100px;
    line-height: 105%;
transform: rotate(-20deg);
-moz-transform: rotate(-20deg);
-webkit-transform: rotate(-20deg);
-khtml-transform: rotate(-20deg);
-ms-transform: rotate(-20deg);
}


.circle.multi-line23{    
position: absolute;
    top: 160mm;
  left: 125mm;
padding-top:5px;
height:100px;
    line-height: 105%;
transform: rotate(-20deg);
-moz-transform: rotate(-20deg);
-webkit-transform: rotate(-20deg);
-khtml-transform: rotate(-20deg);
-ms-transform: rotate(-20deg);
}


.circle.multi-line24{    
position: absolute;
    top: 150mm;
  left: 130mm;
padding-top:5px;
height:100px;
    line-height: 105%;
transform: rotate(-20deg);
-moz-transform: rotate(-20deg);
-webkit-transform: rotate(-20deg);
-khtml-transform: rotate(-20deg);
-ms-transform: rotate(-20deg);
}


.circle.multi-line25{    
position: absolute;
    top: 142mm;
  left: 137mm;
padding-top:5px;
height:100px;
    line-height: 105%;
transform: rotate(-20deg);
-moz-transform: rotate(-20deg);
-webkit-transform: rotate(-20deg);
-khtml-transform: rotate(-20deg);
-ms-transform: rotate(-20deg);
}

.circle.multi-line26{    
position: absolute;
    top: 235mm;
  left: -10mm;
padding-top:5px;
height:100px;
width:400px;
    line-height: 105%;
transform: rotate(20deg);
-moz-transform: rotate(20deg);
-webkit-transform: rotate(20deg);
-khtml-transform: rotate(20deg);
-ms-transform: rotate(20deg);
}

/*second page*/

.secondpagetitle {
    border-style: solid;
    border-width: 3px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
}


.questions {
    list-style-type: none;
    line-height: 15px;
    margin: 0px;
}

.answers {
    list-style-type: none;
    line-height: 30px;
}

.half {
    width: 350px;
    display: inline-block;
    line-height: 15px;
}

#signature {
    margin-top: 30px;
    width: 275mm;
    white-space: nowrap;
    overflow: clip;
}

/*table*/


.tg {
    border-collapse: collapse;
    border-color: black;
    width: 700px;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 5px 10px;
    word-break: normal;
}


.tg th {
    
    border-color: black;
    border-style: solid;
    border-width: 2px;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 5px 10px;
    word-break: normal;
}

.tg-0lax {
    text-align: left;
}

.boxfield {
    text-align: center;
}

.tableimagecell {
    width: 50px;
    height: 45px;
    overflow: clip;
}

.tableimage {
    width: 50px;
    height: 50px;
}
