<!doctype html>
{% load i18n %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
.tg  {border-collapse:collapse;border-color:#ccc;border-spacing:0;}
.tg td{background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{background-color:#f0f0f0;border-color:#ccc;border-style:solid;border-width:1px;color:#333;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0lax"></th>
    <th class="tg-0lax"></th>
    <th class="tg-0lax">{% language base_language %}{% translate "Oui" %}{% endlanguage %}<br>
{% language target_language %}{% translate "Oui" %}{% endlanguage %}</th>
    <th class="tg-0lax">{% language base_language %}{% translate "Non" %}{% endlanguage %}<br>
{% language target_language %}{% translate "Non" %}{% endlanguage %}</th>
    <th class="tg-0lax">{% language base_language %}{% translate "Je ne sais pas" %}{% endlanguage %}<br>
{% language target_language %}{% translate "Je ne sais pas" %}{% endlanguage %}</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">{% language base_language %}{% translate "Avez-vous un pace-maker?" %}{% endlanguage %}<br>
{% language target_language %}{% translate "Avez-vous un pace-maker?" %}{% endlanguage %}</td>
    <td class="tg-0lax"><i class="fa fa-square-o" aria-hidden="true"></i>
</td>
    <td class="tg-0lax"><i class="fa fa-square-o" aria-hidden="true"></i></td>
    <td class="tg-0lax"><i class="fa fa-square-o" aria-hidden="true"></i></td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">{% language base_language %}{% translate "Avez-vous une valve cardiaque?" %}{% endlanguage %}<br>
{% language target_language %}{% translate "Avez-vous une valve cardiaque?" %}{% endlanguage %}</td>
    <td class="tg-0lax"><i class="fa fa-square-o" aria-hidden="true"></i></td>
    <td class="tg-0lax"><i class="fa fa-square-o" aria-hidden="true"></i></td>
    <td class="tg-0lax"><i class="fa fa-square-o" aria-hidden="true"></i></td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">{% language base_language %}{% translate "Avez-vous des stents coronaires?" %}{% endlanguage %}<br>
{% language target_language %}{% translate "Avez-vous des stents coronaires?" %}{% endlanguage %}</td>
    <td class="tg-0lax"><i class="fa fa-square-o" aria-hidden="true"></i></td>
    <td class="tg-0lax"><i class="fa fa-square-o" aria-hidden="true"></i></td>
    <td class="tg-0lax"><i class="fa fa-square-o" aria-hidden="true"></i></td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">{% language base_language %}{% translate "Avez-vous un défibrillateur?" %}{% endlanguage %}<br>
{% language target_language %}{% translate "Avez-vous un défibrillateur?" %}{% endlanguage %}</td>
    <td class="tg-0lax"><i class="fa fa-square-o" aria-hidden="true"></i></td>
    <td class="tg-0lax"><i class="fa fa-square-o" aria-hidden="true"></i></td>
    <td class="tg-0lax"><i class="fa fa-square-o" aria-hidden="true"></i></td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">{% language base_language %}{% translate "Avez-vous une chambre implantable?" %}{% endlanguage %}<br>
{% language target_language %}{% translate "Avez-vous une chambre implantable?" %}{% endlanguage %}</td>
    <td class="tg-0lax"><i class="fa fa-square-o" aria-hidden="true"></i></td>
    <td class="tg-0lax"><i class="fa fa-square-o" aria-hidden="true"></i></td>
    <td class="tg-0lax"><i class="fa fa-square-o" aria-hidden="true"></i></td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">{% language base_language %}{% translate "Allaitez-vous?" %}{% endlanguage %}<br>
{% language target_language %}{% translate "Allaitez-vous?" %}{% endlanguage %}</td>
    <td class="tg-0lax"><i class="fa fa-square-o" aria-hidden="true"></i></td>
    <td class="tg-0lax"><i class="fa fa-square-o" aria-hidden="true"></i></td>
    <td class="tg-0lax"><i class="fa fa-square-o" aria-hidden="true"></i></td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">{% language base_language %}{% translate "Avez-vous des clips chirurgicaux intra crâniens (CI avant 1992)?" %}{% endlanguage %}<br>
{% language target_language %}{% translate "Avez-vous des clips chirurgicaux intra crâniens (CI avant 1992)?" %}{% endlanguage %}</td>
    <td class="tg-0lax"><i class="fa fa-square-o" aria-hidden="true"></i></td>
    <td class="tg-0lax"><i class="fa fa-square-o" aria-hidden="true"></i></td>
    <td class="tg-0lax"><i class="fa fa-square-o" aria-hidden="true"></i></td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">{% language base_language %}{% translate "Avez-vous un implant cochléaire?" %}{% endlanguage %}<br>
{% language target_language %}{% translate "Avez-vous un implant cochléaire?" %}{% endlanguage %}</td>
    <td class="tg-0lax"><i class="fa fa-square-o" aria-hidden="true"></i></td>
    <td class="tg-0lax"><i class="fa fa-square-o" aria-hidden="true"></i></td>
    <td class="tg-0lax"><i class="fa fa-square-o" aria-hidden="true"></i></td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">{% language base_language %}{% translate "Avez-vous un implant oculaire?" %}{% endlanguage %}<br>
{% language target_language %}{% translate "Avez-vous un implant oculaire?" %}{% endlanguage %}</td>
    <td class="tg-0lax"><i class="fa fa-square-o" aria-hidden="true"></i></td>
    <td class="tg-0lax"><i class="fa fa-square-o" aria-hidden="true"></i></td>
    <td class="tg-0lax"><i class="fa fa-square-o" aria-hidden="true"></i></td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">{% language base_language %}{% translate "Avez-vous du métal dans le corps?" %}{% endlanguage %}<br>
{% language target_language %}{% translate "Avez-vous du métal dans le corps?" %}{% endlanguage %}</td>
    <td class="tg-0lax"><i class="fa fa-square-o" aria-hidden="true"></i></td>
    <td class="tg-0lax"><i class="fa fa-square-o" aria-hidden="true"></i></td>
    <td class="tg-0lax"><i class="fa fa-square-o" aria-hidden="true"></i></td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">{% language base_language %}{% translate "Avez-vous des éclats métalliques dans les yeux?" %}{% endlanguage %}<br>
{% language target_language %}{% translate "Avez-vous des éclats métalliques dans les yeux?" %}{% endlanguage %}</td>
    <td class="tg-0lax"><i class="fa fa-square-o" aria-hidden="true"></i></td>
    <td class="tg-0lax"><i class="fa fa-square-o" aria-hidden="true"></i></td>
    <td class="tg-0lax"><i class="fa fa-square-o" aria-hidden="true"></i></td>
  </tr>
</tbody>
</table>