<!doctype html>
{% load i18n %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'translation/IRM.css' %}">
<div class="A4">
<table>
  <thead>
    <tr>
      <th class="tg-0lax">
        <div id="titlecontainer">
          <h1>{% language target_language%}IRM{% endlanguage %}<br>{% language base_language%}IRM{% endlanguage %}</h2>
        </div>
      </th>
      <th class="tg-0lax">
        <div id="flagcontainer">
          <img class="smallflag" src="{% get_static_prefix %}translation/flags/{{ base_flag }}.png">
          <i class="fa fa-arrow-right fa-3x" aria-hidden="true"></i>
          <img class="smallflag" src="{% get_static_prefix %}translation/flags/{{ target_flag }}.png">
        </div>
      </th>
  </thead>
</table>

<p>{% language target_language %}<b>{% translate "Vous allez passer une IRM" %}</b>{% endlanguage %}<br>
{% language base_language %}{% translate "Vous allez passer une IRM" %}{% endlanguage %}</p>

<p>{% language target_language %}<b>{% translate "Pour entrer dans la salle d’IRM, il faut retirer tout objet métallique (appareils dentaires et auditifs, montre, bijoux...)" %}</b>{% endlanguage %}<br>
{% language base_language %}{% translate "Pour entrer dans la salle d’IRM, il faut retirer tout objet métallique (appareils dentaires et auditifs, montre, bijoux...)" %}{% endlanguage %}</p>

<p>{% language target_language %}<b>{% translate "Une perfusion va vous être posée pour injecter un produit de contraste au cours de l’examen" %}</b>{% endlanguage %}<br>
{% language base_language %}{% translate "Une perfusion va vous être posée pour injecter un produit de contraste au cours de l’examen" %}{% endlanguage %}</p>

<p>{% language target_language %}<b>{% translate "Il faudra rester immobile pendant tout l’examen" %}</b>{% endlanguage %}<br>
{% language base_language %}{% translate "Il faudra rester immobile pendant tout l’examen" %}{% endlanguage %}</p>

<p>{% language target_language %}<b>{% translate "L'examen est long. Il dure entre 15 et 40 minutes. L'examen n'est pas douloureux mais il est très bruyant" %}</b>{% endlanguage %}<br>
{% language base_language %}{% translate "L'examen est long. Il dure entre 15 et 40 minutes. L'examen n'est pas douloureux mais il est très bruyant" %}{% endlanguage %}</p>

<p>{% language target_language %}<b>{% translate "Durant l'examen, on vous demandera de gonfler et les poumons et de bloquer la respiration" %}</b>{% endlanguage %}<br>
{% language base_language %}{% translate "Durant l'examen, on vous demandera de gonfler et les poumons et de bloquer la respiration" %}{% endlanguage %}</p>

<p>{% language target_language %}<b>{% translate "Pour nous appeler appuyer ici" %}</b>{% endlanguage %}<br>
{% language base_language %}{% translate "Pour nous appeler appuyer ici" %}{% endlanguage %}</p>
</div>
<div class="A4">
<table class="tg">
<thead>
  <tr>
    <th class="tg-0lax"></th>
    <th class="tg-0lax"></th>
    <th class="tg-0lax">{% language target_language %}<b>{% translate "Oui" %}</b>{% endlanguage %}<br>
{% language base_language %}{% translate "Oui" %}{% endlanguage %}</th>
    <th class="tg-0lax">{% language target_language %}<b>{% translate "Non" %}</b>{% endlanguage %}<br>
{% language base_language %}{% translate "Non" %}{% endlanguage %}</th>
    <th class="tg-0lax">{% language target_language %}<b>{% translate "Je ne sais pas" %}</b>{% endlanguage %}<br>
{% language base_language %}{% translate "Je ne sais pas" %}{% endlanguage %}</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">{% language target_language %}<b>{% translate "Avez-vous un pace-maker?" %}</b>{% endlanguage %}<br>
{% language base_language %}{% translate "Avez-vous un pace-maker?" %}{% endlanguage %}</td>
    <td class="boxfield"><i class="fa fa-square-o fa-lg" aria-hidden="true"></i></td>
    <td class="boxfield"><i class="fa fa-square-o fa-lg" aria-hidden="true"></i></td>
    <td class="boxfield"><i class="fa fa-square-o fa-lg" aria-hidden="true"></i></td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">{% language target_language %}<b>{% translate "Avez-vous une valve cardiaque?" %}</b>{% endlanguage %}<br>
{% language base_language %}{% translate "Avez-vous une valve cardiaque?" %}{% endlanguage %}</td>
    <td class="boxfield"><i class="fa fa-square-o fa-lg" aria-hidden="true"></i></td>
    <td class="boxfield"><i class="fa fa-square-o fa-lg" aria-hidden="true"></i></td>
    <td class="boxfield"><i class="fa fa-square-o fa-lg" aria-hidden="true"></i></td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">{% language target_language %}<b>{% translate "Avez-vous des stents coronaires?" %}</b>{% endlanguage %}<br>
{% language base_language %}{% translate "Avez-vous des stents coronaires?" %}{% endlanguage %}</td>
    <td class="boxfield"><i class="fa fa-square-o fa-lg" aria-hidden="true"></i></td>
    <td class="boxfield"><i class="fa fa-square-o fa-lg" aria-hidden="true"></i></td>
    <td class="boxfield"><i class="fa fa-square-o fa-lg" aria-hidden="true"></i></td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">{% language target_language %}<b>{% translate "Avez-vous un défibrillateur?" %}</b>{% endlanguage %}<br>
{% language base_language %}{% translate "Avez-vous un défibrillateur?" %}{% endlanguage %}</td>
    <td class="boxfield"><i class="fa fa-square-o fa-lg" aria-hidden="true"></i></td>
    <td class="boxfield"><i class="fa fa-square-o fa-lg" aria-hidden="true"></i></td>
    <td class="boxfield"><i class="fa fa-square-o fa-lg" aria-hidden="true"></i></td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">{% language target_language %}<b>{% translate "Avez-vous une chambre implantable?" %}</b>{% endlanguage %}<br>
{% language base_language %}{% translate "Avez-vous une chambre implantable?" %}{% endlanguage %}</td>
    <td class="boxfield"><i class="fa fa-square-o fa-lg" aria-hidden="true"></i></td>
    <td class="boxfield"><i class="fa fa-square-o fa-lg" aria-hidden="true"></i></td>
    <td class="boxfield"><i class="fa fa-square-o fa-lg" aria-hidden="true"></i></td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">{% language target_language %}<b>{% translate "Allaitez-vous?" %}</b>{% endlanguage %}<br>
{% language base_language %}{% translate "Allaitez-vous?" %}{% endlanguage %}</td>
    <td class="boxfield"><i class="fa fa-square-o fa-lg" aria-hidden="true"></i></td>
    <td class="boxfield"><i class="fa fa-square-o fa-lg" aria-hidden="true"></i></td>
    <td class="boxfield"><i class="fa fa-square-o fa-lg" aria-hidden="true"></i></td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">{% language target_language %}<b>{% translate "Avez-vous des clips chirurgicaux intra crâniens (CI avant 1992)?" %}</b>{% endlanguage %}<br>
{% language base_language %}{% translate "Avez-vous des clips chirurgicaux intra crâniens (CI avant 1992)?" %}{% endlanguage %}</td>
    <td class="boxfield"><i class="fa fa-square-o fa-lg" aria-hidden="true"></i></td>
    <td class="boxfield"><i class="fa fa-square-o fa-lg" aria-hidden="true"></i></td>
    <td class="boxfield"><i class="fa fa-square-o fa-lg" aria-hidden="true"></i></td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">{% language target_language %}<b>{% translate "Avez-vous un implant cochléaire?" %}</b>{% endlanguage %}<br>
{% language base_language %}{% translate "Avez-vous un implant cochléaire?" %}{% endlanguage %}</td>
    <td class="boxfield"><i class="fa fa-square-o fa-lg" aria-hidden="true"></i></td>
    <td class="boxfield"><i class="fa fa-square-o fa-lg" aria-hidden="true"></i></td>
    <td class="boxfield"><i class="fa fa-square-o fa-lg" aria-hidden="true"></i></td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">{% language target_language %}<b>{% translate "Avez-vous un implant oculaire?" %}</b>{% endlanguage %}<br>
{% language base_language %}{% translate "Avez-vous un implant oculaire?" %}{% endlanguage %}</td>
    <td class="boxfield"><i class="fa fa-square-o fa-lg" aria-hidden="true"></i></td>
    <td class="boxfield"><i class="fa fa-square-o fa-lg" aria-hidden="true"></i></td>
    <td class="boxfield"><i class="fa fa-square-o fa-lg" aria-hidden="true"></i></td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">{% language target_language %}<b>{% translate "Avez-vous du métal dans le corps?" %}</b>{% endlanguage %}<br>
{% language base_language %}{% translate "Avez-vous du métal dans le corps?" %}{% endlanguage %}</td>
    <td class="boxfield"><i class="fa fa-square-o fa-lg" aria-hidden="true"></i></td>
    <td class="boxfield"><i class="fa fa-square-o fa-lg" aria-hidden="true"></i></td>
    <td class="boxfield"><i class="fa fa-square-o fa-lg" aria-hidden="true"></i></td>
  </tr>
  <tr>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">{% language target_language %}<b>{% translate "Avez-vous des éclats métalliques dans les yeux?" %}</b>{% endlanguage %}<br>
{% language base_language %}{% translate "Avez-vous des éclats métalliques dans les yeux?" %}{% endlanguage %}</td>
    <td class="boxfield"><i class="fa fa-square-o fa-lg" aria-hidden="true"></i></td>
    <td class="boxfield"><i class="fa fa-square-o fa-lg" aria-hidden="true"></i></td>
    <td class="boxfield"><i class="fa fa-square-o fa-lg" aria-hidden="true"></i></td>
  </tr>
</tbody>
</table>

</div>