<!doctype html>
{% load i18n %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'translation/pat.css' %}">
<div class="A4">

  <div id="header">
    <div id="titlecontainer">
      <p><b>{% language target_language%}Patient{% endlanguage %}</b><br>{% language base_language%}Patient{% endlanguage %}</p>
    </div>
 
   
    <th class="tg-0lax">
    <div id="flagcontainer">
      <img class="smallflag" src="{% get_static_prefix %}translation/flags/{{ base_flag }}.png">
      <i id="flagarrow" class="fa fa-arrow-right fa-3x" aria-hidden="true"></i>
      <img class="smallflag" src="{% get_static_prefix %}translation/flags/{{ target_flag }}.png">
    </div>
   </th>
  


  <div class="textwrapper">
	         

	
	<div class="circle multi-line1">
         <p>{% language target_language %}<b>{% translate "J’ai mal" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "J’ai mal" %}{% endlanguage %}</p>
        </div>  
	 	  <div class="circle multi-line2">
         <p>{% language target_language %}<b>{% translate "J’ai peur" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "J’ai peur" %}{% endlanguage %}</p>
        </div>  
	
	  <div class="circle multi-line3">
         <p>{% language target_language %}<b>{% translate "J’ai chaud" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "J’ai chaud" %}{% endlanguage %}</p>
        </div>  
	
	  <div class="circle multi-line4">
         <p>{% language target_language %}<b>{% translate "J’ai froid" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "J’ai froid" %}{% endlanguage %}</p>
        </div>  
	
	  <div class="circle multi-line5">
         <p>{% language target_language %}<b>{% translate "J’ai vomi" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "J’ai vomi" %}{% endlanguage %}</p>
        </div>  
	
	  <div class="circle multi-line6">
         <p>{% language target_language %}<b>{% translate "J’ai des nausées" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "J’ai des nausées" %}{% endlanguage %}</p>
        </div>  
	
	  <div class="circle multi-line7">
         <p>{% language target_language %}<b>{% translate "Je voudrais des informations" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Je voudrais des informations" %}{% endlanguage %}</p>
        </div>  
	
	  <div class="circle multi-line8">
         <p>{% language target_language %}<b>{% translate "J’ai des vertiges" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "J’ai des vertiges" %}{% endlanguage %}</p>
        </div>  
	
	  <div class="circle multi-line9">
         <p>{% language target_language %}<b>{% translate "J’ai des diarrhées" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "J’ai des diarrhées" %}{% endlanguage %}</p>
        </div>  
	
	   <div class="circle multi-line10">
         <p>{% language target_language %}<b>{% translate "Je voudrais déféquer" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Je voudrais déféquer" %}{% endlanguage %}</p>
        </div>  
	
	   <div class="circle multi-line11">
         <p>{% language target_language %}<b>{% translate "Je voudrais uriner" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Je voudrais uriner" %}{% endlanguage %}</p>
        </div>  
	
	   <div class="circle multi-line12">
         <p>{% language target_language %}<b>{% translate "J’ai faim" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "J’ai faim" %}{% endlanguage %}</p>
        </div>  

	   <div class="circle multi-line13">
         <p>{% language target_language %}<b>{% translate "J’ai soif" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "J’ai soif" %}{% endlanguage %}</p>
        </div>  
	
	
 </div> 
	  
	  
	  
    
 

               
             	

				

 
</div>
