<!doctype html>
{% load i18n %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'translation/pat.css' %}">
<div class="A4">

  <div id="header">
    <div id="titlecontainer">
      <p><b>{% language target_language%}Patient{% endlanguage %}</b><br>{% language base_language%}Patient{% endlanguage %}</p>
    </div>
 
   
    <th class="tg-0lax">
    <div id="flagcontainer">
      <img class="smallflag" src="{% get_static_prefix %}translation/flags/{{ base_flag }}.png">
      <i id="flagarrow" class="fa fa-arrow-right fa-3x" aria-hidden="true"></i>
      <img class="smallflag" src="{% get_static_prefix %}translation/flags/{{ target_flag }}.png">
    </div>
   </th>
  
</div>

	<body>
		<br><br><br><br><br><br>
		<img src="{% static 'translation/icons/flower2.png' %}" width="767px"
     height="826px" />
		
  <div class="textwrapper">
	         

	
	<div class="circle multi-line1">
         <p>{% language target_language %}<b>{% translate "J’ai mal" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "J’ai mal" %}{% endlanguage %}</p>
        </div>  
	 	  <div class="circle multi-line2">
         <p>{% language target_language %}<b>{% translate "J’ai peur" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "J’ai peur" %}{% endlanguage %}</p>
        </div>  
	
	  <div class="circle multi-line3">
         <p>{% language target_language %}<b>{% translate "J’ai chaud" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "J’ai chaud" %}{% endlanguage %}</p>
        </div>  
	
	  <div class="circle multi-line4">
         <p>{% language target_language %}<b>{% translate "J’ai froid" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "J’ai froid" %}{% endlanguage %}</p>
        </div>  
	
	  <div class="circle multi-line5">
         <p>{% language target_language %}<b>{% translate "J’ai vomi" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "J’ai vomi" %}{% endlanguage %}</p>
        </div>  
	
	  <div class="circle multi-line6">
         <p>{% language target_language %}<b>{% translate "J’ai des nausées" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "J’ai des nausées" %}{% endlanguage %}</p>
        </div>  
	
	  <div class="circle multi-line7">
         <p>{% language target_language %}<b>{% translate "Je voudrais des informations" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Je voudrais des informations" %}{% endlanguage %}</p>
        </div>  
	
	  <div class="circle multi-line8">
         <p>{% language target_language %}<b>{% translate "J’ai des vertiges" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "J’ai des vertiges" %}{% endlanguage %}</p>
        </div>  
	
	  <div class="circle multi-line9">
         <p>{% language target_language %}<b>{% translate "J’ai des diarrhées" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "J’ai des diarrhées" %}{% endlanguage %}</p>
        </div>  
	
	   <div class="circle multi-line10">
         <p>{% language target_language %}<b>{% translate "Je voudrais déféquer" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Je voudrais déféquer" %}{% endlanguage %}</p>
        </div>  
	
	   <div class="circle multi-line11">
         <p>{% language target_language %}<b>{% translate "Je voudrais uriner" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Je voudrais uriner" %}{% endlanguage %}</p>
        </div>  
	
	   <div class="circle multi-line12">
         <p>{% language target_language %}<b>{% translate "J’ai faim" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "J’ai faim" %}{% endlanguage %}</p>
        </div>  

	   <div class="circle multi-line13">
         <p>{% language target_language %}<b>{% translate "J’ai soif" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "J’ai soif" %}{% endlanguage %}</p>
        </div>  
	  
	  <div class="circle multi-line14">
         <p>{% language target_language %}<b>{% translate "Pourriez-vous chiffrer votre douleur entre 0 et 10 ?" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Pourriez-vous chiffrer votre douleur entre 0 et 10 ?" %}{% endlanguage %}</p>
		   <p>{% language target_language %}<b>{% translate "10 étant la note pour une douleur insupportable" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "10 étant la note pour une douleur insupportable" %}{% endlanguage %}</p>
		        </div>  
	  
	  <div class="circle multi-line15">
         <p>{% language target_language %}<b>{% translate "0" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "0" %}{% endlanguage %}</p>
        </div>  
	  <div class="circle multi-line16">
         <p>{% language target_language %}<b>{% translate "1" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "1" %}{% endlanguage %}</p>
        </div>  
	  <div class="circle multi-line17">
         <p>{% language target_language %}<b>{% translate "2" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "2" %}{% endlanguage %}</p>
        </div>  
	  <div class="circle multi-line18">
         <p>{% language target_language %}<b>{% translate "3" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "3" %}{% endlanguage %}</p>
        </div>  
	  <div class="circle multi-line19">
         <p>{% language target_language %}<b>{% translate "4" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "4" %}{% endlanguage %}</p>
        </div>  
	  <div class="circle multi-line20">
         <p>{% language target_language %}<b>{% translate "5" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "5" %}{% endlanguage %}</p>
        </div>  
	  <div class="circle multi-line21">
         <p>{% language target_language %}<b>{% translate "6" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "6" %}{% endlanguage %}</p>
        </div>  
	  <div class="circle multi-line22">
         <p>{% language target_language %}<b>{% translate "7" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "7" %}{% endlanguage %}</p>
        </div>  
	  <div class="circle multi-line23">
         <p>{% language target_language %}<b>{% translate "8" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "8" %}{% endlanguage %}</p>
        </div>  
	  <div class="circle multi-line24">
         <p>{% language target_language %}<b>{% translate "9" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "9" %}{% endlanguage %}</p>
        </div>  
	  <div class="circle multi-line25">
         <p>{% language target_language %}<b>{% translate "10" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "10" %}{% endlanguage %}</p>
        </div>  
	  
	  <div class="circle multi-line26">
         <p>{% language target_language %}<b>{% translate "Montrez-moi où vous avez mal" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Montrez-moi où vous avez mal" %}{% endlanguage %}</p>
        </div>  
	  
	 </div>  
	
	</body>
	  
	   </div> 
	  
	  
	  
	  
	  
	  
	  
	  
	  
	
	

	  <div class="A4">
		  
	  <table class="tg">
	 <tbody>
      <tr>
        <td class="tableimagecell" rowspan="3"><img class="tableimage" src="{% get_static_prefix %}translation/docs/icons/radio.png"></td>
        <td class="tg-0lax" style="width: 300px">{% language target_language %}<b>{% translate "Je vous donne des médicaments" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Je vous donne des médicaments" %}{% endlanguage %}</td>
	      <td class="tg-0lax" style="width: 300px">{% language target_language %}<b>{% translate "Je vous donne des antibiotiques" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Je vous donne des antibiotiques" %}{% endlanguage %}</td>
	 </tr>
		 
	 <tr>	 
	      
        <td class="tg-0lax" style="width: 300px">{% language target_language %}<b>{% translate "Je vous donne des antalgiques" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Je vous donne des antalgiques" %}{% endlanguage %}</td>
           
       
        <td class="tg-0lax" style="width: 300px">{% language target_language %}<b>{% translate "Est ce que ce médicament soulage votre douleur ?" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Est ce que ce médicament soulage votre douleur ?" %}{% endlanguage %}</td>
              </tr>
	  
			  
		  
		<tr>
        <td class="tableimagecell" rowspan="3"><img class="tableimage" src="{% get_static_prefix %}translation/docs/icons/pouls.png"></td>  
		  
		   <td class="tg-0lax" style="width: 300px">{% language target_language %}<b>{% translate "Je vais prendre votre pouls" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Je vais prendre votre pouls" %}{% endlanguage %}</td>
		  
		    <td class="tg-0lax" style="width: 300px">{% language target_language %}<b>{% translate "Je vais prendre votre pression artérielle" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Je vais prendre votre pression artérielle" %}{% endlanguage %}</td>
			 </tr>
	  		  
		  
		<tr>
			
		    <td class="tg-0lax" style="width: 300px">{% language target_language %}<b>{% translate "Je vais prendre votre température" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Je vais prendre votre température" %}{% endlanguage %}</td>
		   <td class="tg-0lax" style="width: 300px">{% language target_language %}<b>{% translate "Je vais poser ma main sur votre ventre pour compter votre respiration, respirez normalement et ne parlez pas pendant ce temps" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Je vais poser ma main sur votre ventre pour compter votre respiration, respirez normalement et ne parlez pas pendant ce temps" %}{% endlanguage %}</td>
		 
			
		 </tr>	
			
			
			
			<p>{% language target_language %}<b>{% translate "Je vais vous faire une prise de sang" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Je vais vous faire une prise de sang" %}{% endlanguage %}</p>
		   <p>{% language target_language %}<b>{% translate "Je vais vous poser une perfusion" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Je vais vous poser une perfusion" %}{% endlanguage %}</p>
		   <p>{% language target_language %}<b>{% translate "Je vais vous faire une piqûre" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Je vais vous faire une piqûre" %}{% endlanguage %}</p>
		   <p>{% language target_language %}<b>{% translate "Je vais vous faire un pansement" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Je vais vous faire un pansement" %}{% endlanguage %}</p>
		   <p>{% language target_language %}<b>{% translate "Je vais faire votre toilette" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Je vais faire votre toilette" %}{% endlanguage %}</p>
		   <p>{% language target_language %}<b>{% translate "Vous allez avoir une radio" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Vous allez avoir une radio" %}{% endlanguage %}</p>
		   <p>{% language target_language %}<b>{% translate "Vous allez avoir une échographie" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Vous allez avoir une échographie" %}{% endlanguage %}</p>
		   <p>{% language target_language %}<b>{% translate "Vous allez avoir un scanner" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Vous allez avoir un scanner" %}{% endlanguage %}</p>
		   <p>{% language target_language %}<b>{% translate "Vous allez avoir une opération chirurgicale" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Vous allez avoir une opération chirurgicale" %}{% endlanguage %}</p>
		   <p>{% language target_language %}<b>{% translate "Je vais vous faire un plâtre" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Je vais vous faire un plâtre" %}{% endlanguage %}</p>
		   <p>{% language target_language %}<b>{% translate "Vous allez avoir une IRM" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Vous allez avoir une IRM" %}{% endlanguage %}</p>
		   <p>{% language target_language %}<b>{% translate "Ne bougez pas" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Ne bougez pas" %}{% endlanguage %}</p>
		   <p>{% language target_language %}<b>{% translate "Vous ne devez pas manger" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Vous ne devez pas manger" %}{% endlanguage %}</p>
		   <p>{% language target_language %}<b>{% translate "Vous ne devez pas boire" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Vous ne devez pas boire" %}{% endlanguage %}</p>
		   <p>{% language target_language %}<b>{% translate "Vous ne devez pas vous lever" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Vous ne devez pas vous lever" %}{% endlanguage %}</p>
		     <p>{% language target_language %}<b>{% translate "Vous devez rester sur le dos" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Vous devez rester sur le dos" %}{% endlanguage %}</p>
		     <p>{% language target_language %}<b>{% translate "Vous ne devez pas fumer" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Vous ne devez pas fumer" %}{% endlanguage %}</p>
		     <p>{% language target_language %}<b>{% translate "Il faut rester en isolement" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Il faut rester en isolement" %}{% endlanguage %}</p>
		     <p>{% language target_language %}<b>{% translate "Vous devez garder ce masque sur vous" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Vous devez garder ce masque sur vous" %}{% endlanguage %}</p>
		     <p>{% language target_language %}<b>{% translate "Pouvez-vous vous asseoir ?" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Pouvez-vous vous asseoir ?" %}{% endlanguage %}</p>
		     <p>{% language target_language %}<b>{% translate "Pouvez-vous vous lever ?" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Pouvez-vous vous lever ?" %}{% endlanguage %}</p>
		     <p>{% language target_language %}<b>{% translate "Pouvez-vous marcher ?" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Pouvez-vous marcher ?" %}{% endlanguage %}</p>
		     <p>{% language target_language %}<b>{% translate "Pour nous appeler appuyer ici" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Pour nous appeler appuyer ici" %}{% endlanguage %}</p>
		    <p>{% language target_language %}<b>{% translate "Pour allumer ou éteindre les lumières appuyer ici" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Pour allumer ou éteindre les lumières appuyer ici" %}{% endlanguage %}</p>
		    <p>{% language target_language %}<b>{% translate "Les toilettes sont ici" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "Les toilettes sont ici" %}{% endlanguage %}</p>
		    <p>{% language target_language %}<b>{% translate "La salle de bain est ici" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "La salle de bain est ici" %}{% endlanguage %}</p>
		    
	 </tbody>
  </table>
</div>	 
		  
		  
		  

              
             	

				

 
</div>
