<!doctype html>
{% load i18n %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'translation/pat.css' %}">
<div class="A4">

  <div id="header">
    <div id="titlecontainer">
      <p><b>{% language target_language%}Patient{% endlanguage %}</b><br>{% language base_language%}Patient{% endlanguage %}</p>
    </div>
 
   
    <th class="tg-0lax">
    <div id="flagcontainer">
      <img class="smallflag" src="{% get_static_prefix %}translation/flags/{{ base_flag }}.png">
      <i id="flagarrow" class="fa fa-arrow-right fa-3x" aria-hidden="true"></i>
      <img class="smallflag" src="{% get_static_prefix %}translation/flags/{{ target_flag }}.png">
    </div>
   </th>
  

	

  <div class="textwrapper">
	  

         <p>{% language target_language %}<b>{% translate "J’ai soif" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "J’ai soif" %}{% endlanguage %}</p>

	  <br><br><br>
	<div class="circle multi-line1">
         <p>{% language target_language %}<b>{% translate "J’ai mal" %}</b>{% endlanguage %}<br>
    {% language base_language %}{% translate "J’ai mal" %}{% endlanguage %}</p>
        </div>  
	  <br><br><br>
 </div> 
	  
	  
	  
    
 

               
             	

				

 
</div>
