@page {
    size: A4 landscape;
    margin: 1cm;
}

.A4 {
    width: 275mm;
    height: 188mm;
    overflow: clip;
}

:root {
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1.1rem;
}

.smallflag {
    width: 2.6cm;
    height: 1.5cm;
}

h1 {
    width: 50%;
}

#header {
    width: 275mm;
    height: 100px;
    white-space: nowrap;
    overflow: clip;
    padding-bottom: 40px;
}

#titlecontainer {
    display: inline-block;
    width: 60%;
    line-height: 30px;
    font-size: 25px;
}

#flagarrow {
    display: inline-block;
    width: 2cm;
    text-align: center;
    vertical-align: top;
}

#flagcontainer {
    display: inline-block;
    width: 4cm;

}

.textwrapper {
    line-height: 25px;
}

/*second page*/

.secondpagetitle {
    border-style: solid;
    border-width: 3px;
    text-align: center;
}

.questions {
    list-style-type: none;
    line-height: 15px;
}

.answers {
    list-style-type: none;
    line-height: 30px;
}

.half {
    width: 110mm;
    display: inline-block;
}

#signature {
    margin-top: 30px;
    width: 275mm;
    white-space: nowrap;
    overflow: clip;
}

/*table*/


.tg {
    border-collapse: collapse;
    border-color: black;
    width: 1000px;
}

.tg td {
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 5px 10px;
    word-break: normal;
}


.tg th {
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 5px 10px;
    word-break: normal;
}

.tg-0lax {
    text-align: left;
}

.boxfield {
    text-align: center;
}

.tableimagecell {
    width: 100px;
    height: 45px;
    overflow: clip;
}

.tableimage {
    width: 100%;
    height: 200%;
}